#client-add-tab .ca-table{border-spacing:8px;margin:10px}
#client-add-tab #dopLinks{padding:20px 0 10px 176px}
#client-add-tab .label{width:150px;text-align:right}
#client-add-tab input,
#client-add-tab textarea
	{width:250px}
#client-add-tab #adres,
#client-add-tab #person-adres,
#client-add-tab #org_adres,
#client-add-tab #person-org_adres
	{height:30px}

#client-add-tab span.label{color:#777;margin:0 8px 0 30px}
#client-add-tab #pasp_seria,
#client-add-tab #person-pasp_seria
	{width:55px}
#client-add-tab #pasp_nomer,
#client-add-tab #person-pasp_nomer
	{width:114px}
#client-add-tab #pasp_data,
#client-add-tab #person-pasp_data
	{width:180px}

#client-add-tab #person-head{margin:15px 0 10px 50px;color:#555;font-weight:bold}
#client-add-tab #person-list{margin:0 0 5px 50px}

/* добавление доверенного лица при внесении нового клиента и в информации о клиенте */
#client-add-tab #person-add {
	padding:10px;
	text-align: center;
	display:block;
	text-decoration:none;
	margin:0 20px 20px 20px;
}
#client-add-tab #person-add:hover{background-color:#e9edf1}

#client-person-tab{border-spacing:10px}
#client-person-tab .label{text-align:right}
#client-person-tab input{width:220px}
#client-person-tab textarea{width:220px;height:30px}

/* Список клиентов */
#client #buttonCreate{width:135px}
#client #find-tab{
	background-color:#F7F7F7;
	border-spacing:9px;
	border-bottom:#dae1e8 solid 1px;
	width:100%;
}
#client .result.busy{background-position:585px center}
#client .result em{color:#999;margin-left:10px;font-size:10px}
#client .result.busy #filter_clear{display:none}
#client #filter_clear{float:right}
#client b#dolg{color:#922;font-size:10px}
#client #dolg_check{margin-top:0}
#client ._check{margin-top:10px}
#client .left{padding-bottom:10px}
#client .unit{margin:5px 10px 0 10px;border-bottom:#dae1e8 solid 1px;padding:5px}
#client .g-tab{width:100%}
#client .l-tab{border-spacing:2px;width:340px}
#client .r-td{vertical-align:top;text-align:right}
#client .label{width:75px}
#client .z-wait,
#client .z-ready,
#client .z-fail{
	display:inline-block;
	font-weight:bold;
	padding:3px 7px;
	color:#555;
	cursor:default;
}
#client .z-wait{background-color:#E8E8FF}
#client .z-ready{background-color:#CFC}
#client .z-fail{background-color:#FDD}
#client .balans{font-weight:bold;margin-top:2px;cursor:default}
#client .post{margin-left:4px;font-size:10px;color:#777}
#client .unit em{background-color:#FFC;border-bottom:#FE2 solid 1px}
#client .unit .post em{font-size:10px}
#client .comm{
	display:inline-block;
	width:14px;
	height:14px;
	margin-right:4px;
	position:relative;
	top:3px;
	background-image:url("data:image/gif;base64,R0lGODlhDgAOAKIAAAAAAP///9Pd6GuNsf///wAAAAAAAAAAACH5BAEAAAQALAAAAAAOAA4AAAMiSLoi+681CKWjyk68d+0eA17iSBJWJpVairraC7d0K9dOAgA7");
	background-repeat:no-repeat;
	background-position:0 0;
}
#client ._next{margin:0 10px}
#client ._empty{margin:10px}




/* Информация о клиенте */
#client-info .left{padding-bottom:10px}
#client-info #client-del{color:#e00}
#client-info #ci-name{
	color:#31618C;
	font-size:12px;
	font-weight:bold;
	margin:15px 5px 5px 20px;
}
#client-info .ci-balans{
	float:right;
	margin:11px 8px 0 0;
	font-size:12px;
	font-weight:bold;
	cursor:default;
	background-color:#ffa;
	border:#e8e8aa solid 1px;
	padding:3px 8px;
}
#client-info #ci-tab{border-spacing:4px;margin:0 10px 0 28px}

#client-info #pasp-head{margin:8px 0 3px 20px;color:#31618C}
#client-info #pasp-tab{border-spacing:2px;margin-left:28px}
#client-info #pasp-tab .label{width:85px}

#client-info #ci-person{margin:15px 0 0 20px}
#client-info #ci-person h1{color:#31618C;margin:0 35px 5px 0}
#client-info #ci-person h1 a{float:right}
#client-info #ci-person table{width:400px;margin-left:10px}
#client-info #ci-person .n{width:15px;text-align:right;color:#777}
#client-info #ci-person .adres{font-size:10px}
#client-info #ci-person .adres tt{font-size:10px;color:#777}
#client-info #ci-person .td-person-ed{width:35px}

#client-info .post{margin-left:4px;font-size:10px;color:#777}
#client-info .dtime{
	font-size:10px;
	color:#999;
	text-align:right;
	margin:20px 10px 0 0;
}


#client-info .right{width:140px;height:auto}
#client-info #dopLinks{border-top:#dae1e8 solid 1px}
#client-info #dopLinks a{font-weight:normal}
#client-info #dopLinks._busy{background-position:585px center}
#client-info .ci-cont{display:none}
#client-info ._empty{margin:10px}
#client-info .ci-right{display:none}

#client-info #history-spisok .result{font-weight:normal}
