#_debug{
	position:absolute;
	right:5px;
	top:5px;
	border:#ddb solid 1px;
	background-color:#ffd;
	box-shadow: 0 0 8px rgba(0,0,0,0.5);
	z-index:999999;
}
#_debug h1{
	float:right;
	width:21px;
	height:18px;
	text-align:center;
	padding-top:3px;
	cursor:pointer;
}
#_debug.show h1{border-left:#bdb solid 1px;border-bottom:#bdb solid 1px}
#_debug:not(.show) h2,#_debug:not(.show) h3{display:none}
#_debug:not(.show):not(:hover){opacity:0.2}
#_debug h2{width:614px}
#_debug .dmenu a{
	display:inline-block;
	padding:4px 10px;
	border-right:#bdb solid 1px;
	border-bottom:#bdb solid 1px;
}
#_debug .dmenu a:hover{background-color:#afa;text-decoration:none}
#_debug .dmenu a.sel{background-color:#aea}
#_debug ul{margin:10px 8px 5px 23px}
#_debug li{margin-bottom:7px;word-wrap:break-word}
#_debug li .sql-un,#_debug li b{
	color:#000;
	font-size:10px;
	position:relative;
	top:1px;
	left:-5px;
	white-space:pre-line;
}
#_debug li .t{left:15px;color:#999}
#_debug li .t.long{color:#d22}
#_debug li textarea{width:564px;border-top:none}
#_debug .sql-hd{
	width:560px;
	border:#ccc solid 1px;
	padding:3px 5px;
	background-color:#ccc;
}
#_debug .sql-hd a{margin-left:20px}
#_debug .sql-hd._busy{background-position:518px center}
#_debug .sql-hd h3{float:right}
#_debug .exp{width:558px;margin-top:-1px}
#_debug .exp *{font-size:10px}
#_debug .exp table{width:100%;border-collapse:collapse;background-color:#f8f8f8}
#_debug .exp td,#_debug .exp th{border:#ccc solid 1px;padding:2px 4px}
#_debug .exp th{font-weight:bold}
#_debug .cookie{margin:10px}
#_debug #cookie_update{display:inline-block;margin-bottom:5px}
#_debug .get{margin:10px}
#_debug .get textarea{width:586px;height:100px;margin-top:10px}
#_debug .ajax{margin:10px}
#_debug .ajax .hd{
	margin:15px 0 3px;
	background-color:#eec;
	padding:4px 7px 5px;
}
#_debug .ajax .hd.res1{background-color:#cec}
#_debug .ajax .hd.res0{background-color:#ecc}
#_debug #repeat{margin-left:20px}
#_debug #res-success{float:right;color:#0a0;text-decoration:underline}
#_debug #res-error{float:right;color:#a00;text-decoration:underline}
#_debug .hd._busy{background-position:right center}
#_debug .ajax .hd em{float:right;color:#777}
#_debug .ajax .hd tt{margin-left:20px;font-weight:bold;color:#777}
#_debug .ajax p{margin-left:10px}
#_debug .ajax table{border-spacing:1px;border:#ddd solid 1px;margin-bottom:5px}
#_debug .ajax .val{text-align:right;vertical-align:top}
#_debug .ajax textarea{width:586px;height:1px}
#_debug .pre{margin:10px}
#_debug .pre .un{margin-bottom:5px}
#_debug .pre .el{margin-left:20px}
#_debug .pre b{margin-right:7px}
