#sa-history-tab #type_id{width:80px}
#sa-history-tab #txt{width:400px;height:13px}
#sa-history ._spisok{margin:20px}
#sa-history .type_id{text-align:right;color:#777}
#sa-history textarea{width:400px;height:13px;border:0}
#sa-history .count{text-align:center}


._hist-un{
	margin:8px 8px 12px;
	padding-bottom:8px;
	border-bottom:#dae1e8 solid 1px;
}
._hist-un .head{font-size:10px}
._hist-un .hist-img img{width:22px;height:22px}
._hist-un h4{float:right;color:#ddd;font-size:10px;cursor:pointer}
._hist-un h4:hover{color:#005;font-weight:bold}
._hist-un h5,
._hist-un h6{font-size:10px;margin-left:5px}
._hist-un h6{color:#777}
._hist-un h6 span{color:#555;margin-left:15px}
._hist-un ul{margin:5px 0 7px 25px}
._hist-un li{margin:0 0 8px}
._hist-un li.light:hover{background-color:#ffa;cursor:default}
._hist-un .li{margin-left:-4px}
._hist-un i{font:italic 11px Arial;color:#977}
._hist-un em{color:#707070}
._hist-un .changes *{font-size:10px;color:#777}
._hist-un .changes table{border-collapse:collapse;margin-top:3px}
._hist-un .changes th{text-align:right;font-weight:700}
._hist-un .changes th,
._hist-un .changes td{
	border:#ddd solid 1px;
	padding:2px 4px;
	vertical-align:top;
}
._hist-un .oplata{color:#770}
._hist-un a.deleted{color:#a66}
._hist-un .zstatus{display:inline-block;padding:2px 5px}
._hist-un .prim{font:italic 11px Arial;color:#555}
#_hist-next{margin:0 8px 10px}
