/* Просмотр изображений */
._iview{cursor:pointer}
#_image-view{
	position:absolute;
	top:0;
	left:0;
	width:625px;
	background-color:#fff;
	z-index:1000;
}
#_image-view .head em{
	display:inline-block;
	width:200px;
	margin:11px 20px;
	color:#45688e;
	font-weight:bold;
}
#_image-view ._busy{background-position:left center}
#_image-view .head a{float:right;display:block;padding:12px 25px}
#_image-view .head a:hover{text-decoration:none;background:#f4f4f4}
#_image-view .image{width:100%;min-height:400px;cursor:pointer}
#_image-view .image td{text-align:center;vertical-align:middle}
#_image-view .about{padding:20px 0}
#_image-view .dtime{color:#777;margin-left:20px}
#_image-view .hide{display:none}



/* Кнопка загрузки изображения из заявки */
#_image-no-foto{
	width:200px;
	height:200px;
	cursor:pointer;
	position:relative;
}
#_image-but{
	position:absolute;
	width:200px;
	text-align:center;
	bottom:20px;

}
#_image-but-200{display:block;text-align:center;padding:10px}
#_image-but-200:hover{background:#e9edf1;text-decoration:none}

/* Диалоговое окно для закрузки изображения */
#_image-add-tab form{
	display:inline-block;
	position:absolute;
	width:150px;
	height:28px;
	overflow:hidden;
	opacity:0;
}
#_image-add-tab h1{margin:30px 0 15px 120px;width:150px}
#_image-add-tab h1:hover .vk{background-color:#6d8cb0}
#_image-add-tab input[type="file"]{cursor:pointer}
#_image-add-tab .vk{width:150px}
#_image-add-tab #image-error{color:red;margin-bottom:10px;text-align:center}
#_image-add-tab iframe{display:none}


/* Изображения для конкретного объекта */
#_image-obj #im-add._busy span{visibility:hidden}
#_image-obj #im-spisok a{
	position:relative;
	margin-right:3px;
	display:inline-block;
}
#_image-obj #im-spisok a:not(:hover) .div-del{display:none}
#_image-obj #im-spisok a:not(:hover) .img_minidel{display:none}
#_image-obj #im-spisok a.busy .div-del{display:none}
#_image-obj #im-spisok a.busy .img_minidel{display:none}
#_image-obj #im-spisok a.busy{opacity:.4}
#_image-obj #im-spisok .div-del{
	position:absolute;
	top:0;
	right:0;
	width:13px;
	height:13px;
	border-radius:3px;
	background:#000;
	opacity:.3;
}
#_image-obj #im-spisok .img_minidel{
	position:absolute;
	top:1px;
	right:1px;
	margin:0;
}
