#manual{margin:10px}
#manual h1{font-weight:bold;font-size:13px}
#manual #manual-add{float:right}
#manual #part-spisok{margin:0 15px 10px}
#manual .part{
	display:inline-block;
	width:265px;
	margin-top:10px;
	vertical-align:top;
}
#manual .part-head{display:block;padding:5px 10px}
#manual .part-head:hover{background:#f2f8ff}
#manual .part .name{
	font-size:12px;
	font-weight:bold;
	color:#476586;
}
#manual .part-sub{margin:-3px 0 0 20px}
#manual .part-sub a{display:block;font-weight:bold}

/* Внесение новой страницы */
#manual-page-add #name{width:417px;font-weight:bold}
#manual-page-add #content{width:495px;height:200px}







