#manual{margin:10px;min-height:250px}
#manual h1{font-weight:bold;font-size:13px}
#manual #page-add{font-weight:bold}
#manual #part-spisok{margin:0 15px 30px}
#manual .part{
	display:inline-block;
	width:285px;
	margin-top:10px;
	vertical-align:top;
}
#manual .part-head{display:block;padding:5px 10px}
#manual .part-head:hover{background:#f2f8ff}
#manual .noaccess{background:#ffe8e8}
#manual .part .name{
	font-size:12px;
	font-weight:bold;
	color:#476586;
}
#manual .part-sub{margin:-3px 0 0 20px}
#manual .part-sub a{display:block;margin:2px 0}


#manual-part #left{vertical-align:top;padding:15px}
#manual-part #no-access{
	padding:10px 15px;
	margin-bottom:10px;
	background:#ffe8e8;
	color:#955;
}
#manual-part a.back{display:inline-block;margin-bottom:10px;color:#9ab}
#manual-part a.back:hover{text-decoration:none;color:#357}
#manual-part #head{font-size:19px;margin-bottom:8px}
#manual-part #head span{float:right;color:#999;margin-top:6px}
#manual-part #orig{display:none}

#manual-part p{margin:3px 0 8px}
#manual-part ul{margin:-10px 0 5px 10px}
#manual-part li{color:#555;list-style-type:none;margin:3px 0}
#manual-part li:before{
	content: "\2022";
    color: #789EC6;
}
#manual-part h6{
	background:#F5F7F8;
	border-left:#C9D8DF solid 9px;
	border-bottom:#EBEFF2 solid 2px;
	padding:11px;
	margin:10px 0;
}
#manual-part #created{
	margin-top:15px;
	color:#999;
	font-size:10px;
	text-align:right;
}
#manual-part #page-bottom{margin-top:30px}
#manual-part #page-but .vk{margin:0 5px;width:131px}
#manual-part #page-bottom.answered #page-but{display:none}
#manual-part #page-bottom:not(.answered) ._note{display:none}
#manual-part #page-but.busy{opacity:.5}
#manual-part #answer-ok{color:#292}
#manual-part #action{margin-top:20px}


#manual-part #mp-edit{text-align:right}
#manual-part .page-unit{padding:8px 0}
#manual-part .page-unit:not(.noborder){border-bottom:1px solid #ebedf0}
#manual-part .page-unit a{margin-left:7px}
#manual-part .page-unit:before{
	content: "\2022";
    color: #ced7e0;
    font-size: 10px;
}
#manual-part .image{text-align:center;margin:15px 0 5px}
#manual-part .image img{box-shadow: 0 0 25px rgba(0,0,0,.5)}
#manual-part .noaccess{background:#ffe8e8}
#manual-part .right{width:150px}


/* Внесение новой страницы */
#manual-page-add #name{width:417px;font-weight:bold}
#manual-page-add .decor{font-weight:bold;color:#47a}
#manual-page-add #content{width:495px;height:200px}


/* Список нововведений */
#manual-new{margin:10px 20px;min-height:250px}
#manual-new .unit{padding:15px 0}
#manual-new .unit:not(.noborder){border-bottom:1px solid #ebedf0}
#manual-new .unit a{
	font-size:12px;
	font-weight:bold;
	color:#468;
}
#manual-new .unit .dtime{
	float:right;
	font-size:12px;
	color:#888;
}


/* События */
#manual-action{margin:10px}
#manual-action .user{width:140px}
#manual-action .act{width:120px}


