/* Начисления */
#_accrual-add .tab{border-spacing:8px;padding:15px 0}
#_accrual-add .label{width:140px;text-align:right}
#_accrual-add #about{width:230px}
#_accrual-add #status-div{display:none;background-color:#f8f8f0}
#_accrual-add #remind-div{display:none;background-color:#f4f4da}
#_accrual-add .remind-tr{display:none}
#_accrual-add #remind-txt{width:230px}




/* Платежи */
#money-income #top{
	background-color:#F7F7F7;
	border-spacing:10px 5px;
	width:100%;
	border-bottom:#dae1e8 solid 1px;
}
#money-income #mi-l{width:200px;vertical-align:top}
#money-income #mi-center{vertical-align:top}
#money-income #mi-calendar{width:177px;vertical-align:top}
#money-income #worker_id_select{margin-bottom:18px}
#money-income ._check{display:block;margin-top:6px}
#money-income #deleted_check{margin-top:15px}
#money-income #deleted_only_check{margin-top:7px;display:none}
#money-income #path{margin:10px}
#money-income #summa{margin-bottom:7px}
#money-income #spisok{margin:0 10px 10px}
#money-income .income-client{font-size:10px;color:#777}
#money-income .income-client a{font-size:10px}

._income-unit.prepay{background-color:#ffe}
._income-unit .schet{margin:4px 0}

/* Внесение платежа */
#_income-add .tab{border-spacing:10px;padding:10px 0;width:100%}
#_income-add .label{width:130px;text-align:right}
#_income-add #about{width:210px}
#_income-add #place-div{display:none;background-color:#efe}
#_income-add #remind-div{display:none;padding:10px 20px;background-color:#dfd}
#_income-add #remind-div h1{font-weight:bold}
#_income-add #remind-div h2{margin-top:3px;color:#555}
#_income-add .remind-iu{
	margin:12px 0;
	padding:8px 10px;
	background-color:#ffb;
	border:#dd9 solid 1px;
}
#_income-add .remind-iu h3{font-size:12px;font-weight:bold}
#_income-add .remind-iu h4{margin-left:20px}
#_income-add .remind-iu ._check{margin:15px 0 5px 20px}



#money-refund .headName{margin:15px 10px 5px}
#money-refund #spisok{padding:10px}
#money-refund ._spisok{margin-top:5px}
#money-refund .sum{color:#c22}
#money-refund .refund-client{font-size:10px;color:#777}
#money-refund .refund-client a{font-size:10px}

/* Внесение возврата */
#_refund-add-tab{border-spacing:10px}
#_refund-add-tab .label{width:80px;text-align:right}
#_refund-add-tab #isum{color:#888;font-size:10px;margin-left:10px}
#_refund-add-tab #isum b{font-size:10px}
#_refund-add-tab #about{width:220px}



/* Расходы */
#money-expense .headName{margin:15px 10px 5px}
#money-expense #spisok{padding:10px}
#money-expense ._spisok{margin-top:5px}
#money-expense .years{margin-top:20px}
#money-expense #mon-list div{display:block;margin-bottom:5px}
#money-expense #mon-list .sum{float:right}
#expense-add-tab{border-spacing:10px}
#expense-add-tab .label{width:60px;text-align:right}
#expense-add-tab #about{width:250px}
#expense-add-tab .img_edit{position:relative;top:-4px;left:4px}



/* Расчётные счета */
#money-invoice .headName{margin:15px 10px}
#money-invoice .headName span{display:inline-block;float:right;margin:0 6px}
#money-invoice #transfer-add{color:#d33}

#invoice-spisok{margin:10px 10px 25px}
#invoice-spisok ._spisok{width:500px}
#invoice-spisok .name{width:350px}
#invoice-spisok .name a{font-weight:bold}
#invoice-spisok .about{color:#777;font-size:10px;margin:3px 7px}
#invoice-spisok .balans{text-align:right}
#invoice-spisok .img_note{margin-bottom:-2px}
#invoice-spisok .invoice-set{display:block;text-align:center}

#transfer-spisok{margin:-10px 10px 10px}




#balans-day{width:500px}
#balans-day td{text-align:right}
#balans-day .day{width:60px}
#balans-day .start{width:90px;color:#777}
#balans-day .inc{color:#2a2}
#balans-day .dec{color:#a22}
#balans-day .ost{font-weight:bold}


/* таблица с балансами конкретного счёта */
#balans-show .headName{margin:3px 0 10px}
#balans-show #dopLinks{margin:25px 0 10px}
#balans-show #dopLinks span{margin-right:15px}

#balans-tab .action{width:100px}
#balans-tab .balans{width:70px;text-align:right}


/* счета на оплату */
#money-schet .headName{margin:15px 10px}
#money-schet #spisok{margin:10px}
#money-schet #result{margin-bottom:10px}
#money-schet #find{margin-top:20px}
#money-schet #paid_check{margin-top:20px}

.schet-unit{background-color:#ffe}
.schet-unit .td-content{padding:8px}
.schet-unit.pass{background-color:#ffb}
.schet-unit.paid{background-color:#cfc}
.schet-unit .pass-info{color:#770;margin:3px 0}
.schet-unit .paid-info{color:#070;margin:3px 0}
.schet-unit ._dropdown{float:right}
.schet-unit .img_xls{float:right}
.schet-unit:not(:hover) ._dropdown{display:none}
.schet-unit .schet-zayav{margin-top:5px}

#_schet-info .tab{border-spacing:10px}
#_schet-info h1{
	text-align:center;
	font-weight:bold;
	font-size:12px;
	margin:5px 0 10px
}
#_schet-info #dop td{width:410px;vertical-align:top;padding-top:10px}
#_schet-info #dop td div{margin:5px 0 0 10px;color:#555}
#_schet-info #dop td div#deleted{
	margin-top:15px;
	border:#dcc solid 1px;
	background-color:#fee;
	padding:20px;
	text-align:center;
	width:300px;
	color:red;
}
#_schet-info #dop th{text-align:left;vertical-align:top}
#_schet-info #dop th a{display:block;width:125px;padding:6px 0 6px 20px}
#_schet-info #dop th a:hover{background-color:#e9edf1;text-decoration:none}
#_schet-info #dop th .img_xls{float:right;margin:-1px 20px 0 0}
#_schet-info .n{width:20px;text-align:right}
#_schet-info input{background-color:#ffd}
#_schet-info input.err{background-color:#fdd;color:#922}
#_schet-info .name input{width:330px}
#_schet-info .count{width:40px;text-align:center}
#_schet-info .count input{width:30px;text-align:right}
#_schet-info .cost{width:50px;text-align:right}
#_schet-info .cost input{width:40px;text-align:right}
#_schet-info h2{margin-top:20px}
#_schet-info #pole-add{padding:0}
#_schet-info h3{margin-top:20px}
#_schet-info ._check{display:block;margin:3px 0 6px}
#_schet-info #schet-del{color:red}
#_schet-info #hist{display:none}
#_schet-info .result{font-weight:normal}

.schet-link{
	cursor:pointer;
	display:inline-block;
	border:#ccc solid 1px;
	background-color:#ffe;
	padding:1px 5px;
	margin-right:3px;
	color:#555;
}
.schet-link.pass{background-color:#ffb}
.schet-link.paid{background-color:#cfc}


/* Таблица формирования счёта */
#schet-add-tab #sa-tab{border-spacing:10px;margin:10px}
#schet-add-tab #schet-tab{width:100%}
#schet-add-tab .td-n{width:10px;text-align:right}
#schet-add-tab .td-name{width:300px}
#schet-add-tab .td-count{width:40px;text-align:right}
#schet-add-tab .td-cost{width:50px;text-align:right}
#schet-add-tab .td-sum{width:55px;text-align:right}
#schet-add-tab #tr-add{background-color:#ffb}
#schet-add-tab #name{width:280px}
#schet-add-tab #count{width:20px;text-align:right}
#schet-add-tab #cost{width:35px;text-align:right}
#schet-add-tab ._next{padding:0}
#schet-add-tab #itog{margin:10px 0 20px;font-weight:bold;color:#555}

/* деньги в информации о заявке */
#_zayav-money{margin-top:15px}
#_zayav-money em{float:right;margin:0 5px}
#_zayav-money ._refund-add{color:#c22}
#_zayav-money .accrual{color:#07a;cursor:default}
#_zayav-money .income{color:#090;cursor:default}
#_zayav-money .refund{color:#c22;cursor:default}



