/* Начисления */
#accrual-add-tab{border-spacing:10px}
#accrual-add-tab .label{width:100px;text-align:right}
#accrual-add-tab #about{width:230px}




/* Платежи */
#money-income #top{
	background-color:#F7F7F7;
	border-spacing:10px 5px;
	width:100%;
	border-bottom:#dae1e8 solid 1px;
}
#money-income #mi-l{width:200px;vertical-align:top}
#money-income #mi-center{vertical-align:top}
#money-income #mi-calendar{width:177px;vertical-align:top}
#money-income #worker_id_select{margin-bottom:18px}
#money-income #deleted_check{margin-top:15px}
#money-income #deleted_only_check{margin-top:7px;display:none}
#money-income #path{margin:10px}
#money-income #summa{margin-bottom:7px}
#money-income #spisok{margin:0 10px 10px}
#money-income .income-client{font-size:10px;color:#777}
#money-income .income-client a{font-size:10px}
#income-add-tab{border-spacing:10px}
#income-add-tab .label{width:80px;text-align:right}
#income-add-tab #prepay_check{margin:0 6px -3px 0}
#income-add-tab #about{width:210px}




/* Расходы */
#money-expense .headName{margin:15px 10px 5px}
#money-expense #spisok{padding:10px}
#money-expense ._spisok{margin-top:5px}
#money-expense .years{margin-top:20px}
#money-expense #mon-list div{display:block;margin-bottom:5px}
#money-expense #mon-list .sum{float:right}
#expense-add-tab{border-spacing:10px}
#expense-add-tab .label{width:60px;text-align:right}
#expense-add-tab #about{width:250px}
#expense-add-tab .img_edit{position:relative;top:-4px;left:4px}



/* Расчётные счета */
#money-invoice .headName{margin:15px 10px}
#money-invoice .headName span{display:inline-block;float:right;margin:0 6px}
#money-invoice #transfer{color:#d33}

#invoice-spisok{margin:10px 10px 25px}
#invoice-spisok ._spisok{width:500px}
#invoice-spisok .name{width:350px}
#invoice-spisok .name a{font-weight:bold}
#invoice-spisok .about{color:#777;font-size:10px;margin:3px 7px}
#invoice-spisok .balans{text-align:right}
#invoice-spisok .img_note{margin-bottom:-2px}
#invoice-spisok .invoice-set{display:block;text-align:center}

#invoice-info{margin:10px}
#invoice-info .headName{margin:15px 0}
#invoice-info #dopLinks{margin:25px 0 10px}
#invoice-info #dopLinks span{margin-right:15px}

/*
.invoice .transfer-spisok{margin:10px}
.invoice-history{margin-top:10px}
.invoice-history .action{width:80px}
.invoice-history .balans{width:70px;text-align:right}







.schet#report .headName{margin:15px 10px}
.schet#report #spisok{margin:10px}
.schet#report #result{margin-bottom:10px}
.schet#report #find{margin-top:20px}
.schet#report #paid_check{margin-top:20px}


.salary#report .headName{margin:10px}
.salary#report .headName em{font-size:12px;font-weight:bold}
.salary#report .headName._busy{background-position:right center}
.salary #spisok{margin:10px}
.salary .balans{text-align:right}
.salary .uhead .a{float:right}
.salary .uhead a{color:#68A;}
.salary .uhead a:hover{color:#357}
.salary h1{margin-bottom:5px}
.salary .uhead span{color:#888;margin-left:8px}
.salary a.rate-set{color:#d33;float:right}
.salary a.rate-set:hover{color:#d33}
.salary .years{margin-top:25px}
.salary #monthList em{float:right;font-size:10px}
.salary .show{background-color:#ffc}
.salary .s-zayav{display:inline-block;padding:2px 5px}
.salary .about tt{font-size:10px;color:#888;margin-left:7px}
.salary .zp-head{margin:17px 0 3px}
.salary .zp-head span{float:right}
.salary-tab{border-spacing:8px}
.salary-tab #about{width:230px}
.salary-tab.set .label{width:100px}
.salary-tab #day{width:30px}
.salary-tab .img_edit{position:relative;top:-4px;left:4px}
.i-expense{width:30px}
*/