.sa-tab{border-spacing:10px}
.sa-tab .label{text-align:right}
.sa-tab #name{width:250px}
.sa-tab textarea{width:250px}


/* история действий */
#sa-history-tab #type_id{width:80px}
#sa-history-tab #txt{width:400px;height:13px}
#sa-history .headName span{float:right;margin:0 5px}
#sa-history #spisok{margin:20px}
#sa-history .cat-name{margin:20px 0 3px 5px;font-weight:bold}
#sa-history .type_id{width:45px}
#sa-history td.type_id{text-align:right;color:#777}
#sa-history .txt{width:430px}
#sa-history .cats{float:right;color:#c88;font-size:10px}
#sa-history textarea{width:425px;height:13px;border:0}
#sa-history .count{width:40px;text-align:center}

#sa-history-cat #spisok{margin:20px}
#sa-history-cat ._spisok{margin-top:1px}
#sa-history-cat .name{width:300px;cursor:move}
#sa-history-cat .about{color:#777;margin-left:10px}
#sa-history-cat .js{width:40px;text-align:center}
#sa-history-cat .set{width:40px;text-align:center}



/* права сотрудников */
#sa-rule-tab #key{width:250px;font-weight:bold}
#sa-rule-tab textarea{width:250px}
#sa-rule #spisok{margin:20px}
#sa-rule .key{width:320px}
#sa-rule .about{color:#777;margin-left:10px}
#sa-rule .admin{text-align:center}
#sa-rule .worker{text-align:center}
#sa-rule td._busy ._check{visibility:hidden}




/* балансы */
#sa-balans .headName{margin:20px 0 0;padding:0 15px 5px}
#sa-balans .img_add{float:right;margin-top:4px}
#sa-balans #category-spisok{margin:15px}
#sa-balans #action-spisok{margin:15px}
#sa-balans .id{text-align:right;color:#555;width:30px}
#sa-balans .d1{display:none}
