.sa-tab{border-spacing:10px}
.sa-tab .label{text-align:right}
.sa-tab #name{width:250px}
.sa-tab textarea{width:250px}

#sa-index{padding:15px 0 100px 20px}
#sa-index h1{font-weight:bold}
#sa-index a{display:block;margin-left:20px}



/* Разделы меню */
#sa-menu #spisok{margin:20px}
#sa-menu ._spisok{margin-bottom:1px}
#sa-menu .name{cursor:move}
#sa-menu .p{width:120px;text-align:center}
#sa-menu .show{width:100px;text-align:center}


/* история действий */
#sa-history-tab #type_id{width:80px}
#sa-history-tab #txt{width:400px;height:13px}
#sa-history .headName span{float:right;margin:0 5px}
#sa-history #spisok{margin:20px}
#sa-history .cat-name{margin:20px 0 3px 5px;font-weight:bold}
#sa-history .type_id{width:45px}
#sa-history td.type_id{text-align:right;color:#777}
#sa-history .txt{width:430px}
#sa-history .cats{float:right;color:#c88;font-size:10px}
#sa-history textarea{width:425px;height:13px;border:0}
#sa-history .count{width:40px;text-align:center}

#sa-history-cat #spisok{margin:20px}
#sa-history-cat ._spisok{margin-top:1px}
#sa-history-cat .name{width:300px;cursor:move}
#sa-history-cat .about{color:#777;margin-left:10px}
#sa-history-cat .js{width:40px;text-align:center}
#sa-history-cat .set{width:40px;text-align:center}



/* права сотрудников */
#sa-rule-tab #key{width:250px;font-weight:bold}
#sa-rule-tab textarea{width:250px}
#sa-rule #spisok{margin:20px}
#sa-rule .key{width:320px}
#sa-rule .about{color:#777;margin-left:10px}
#sa-rule .admin{text-align:center}
#sa-rule .worker{text-align:center}
#sa-rule td._busy ._check{visibility:hidden}




/* балансы */
#sa-balans #spisok{margin:0 20px 20px}
#sa-balans .head b{font-size:13px}
#sa-balans .head .img_add,
#sa-balans .head .img_edit,
#sa-balans .head .img_del{float:right}
#sa-balans ._spisok{width:350px;margin:15px 0 0 30px}
#sa-balans .id{text-align:right;color:#555;width:25px}
#sa-balans .name{color:#2a2}
#sa-balans .minus{color:#d33}
#sa-balans .count{width:30px;text-align:center}





/* пользователи */
#sa-user .un{padding-bottom:8px;margin:8px;border-bottom:#dae1e8 solid 1px}
#sa-user .tab{width:100%}
#sa-user .img{width:57px;vertical-align:top}
#sa-user .inf{vertical-align:top}
#sa-user .dtime{float:right}
#sa-user .dtime div{font-size:10px;cursor:default;text-align:right}
#sa-user .enter{color:#2a5}
#sa-user .added{color:#aaa}
#sa-user .ws_id{
	display:inline-block;
	padding:2px 5px;
	background-color:#282;
	color:#fff;
	margin-left:20px;
}
#sa-user .adm{
	display:inline-block;
	padding:2px 5px;
	background-color:#b22;
	color:#fff;
	margin-left:5px;
}
#sa-user .action{display:block;margin-top:4px;width:50px}
#sa-user .un:not(:hover) .action:not(._busy){display:none}
#sa-user .action._busy{text-decoration:none}
#sa-user .action-res{border-collapse:collapse;margin-top:5px}
#sa-user .action-res td{border:#ddd solid 1px;padding:1px 4px}
#sa-user .action-res .c{text-align:right}




/* организации */
#sa-ws{padding:10px 15px}
#sa-ws .count{margin-bottom:5px}
#sa-ws .id{text-align:right}
#sa-ws .name a{font-weight:700}
#sa-ws .name.del a{color:#aaa}
#sa-ws .dtime{font-size:10px;color:#777;text-align:right}

#sa-ws-info{padding:0 20px 20px 20px}
#sa-ws-info .headName{margin:20px 0 0 0}
#sa-ws-info .tab{border-spacing:6px}
#sa-ws-info .ws_status_change,#sa-ws-info .ws_del,#sa-ws-info .ws_enter{margin-top:10px}
#sa-ws-info .status{display:inline-block;color:green;background-color:#cfc;padding:3px 15px}
#sa-ws-info .off{color:grey;background-color:#ddd}
#sa-ws-info .counts{border-spacing:4px}
#sa-ws-info .counts .tb{text-align:right}
#sa-ws-info .counts .c{text-align:right;font-weight:700;padding:0 5px}
#sa-ws-info .ws_client_balans,#sa-ws-info .ws_zayav_balans{margin-top:10px}

