#setup .left{padding:15px}
#setup .headName{margin:0 0 15px}
#setup .right{padding:0;width:180px;border-left:0}
#setup .rightLink a.sel{border-color:#6B8EB5}
#setup ._spisok{margin-bottom:1px}

#setup-tab{border-spacing:10px}
#setup-tab .label{text-align:right}
#setup-tab #name{width:210px}
#setup-tab textarea{width:210px;height:50px}

#setup_my #pinset{margin-left:150px}
#setup_my #pinchange{margin:0 10px 0 80px}
#setup_my #dop{margin-top:30px}

#setup_worker .headName{margin-bottom:15px}
#setup_worker .unit{border-spacing:10px;border:#DDE solid 1px;width:330px;margin:6px 0 6px 20px}
#setup_worker .unit td{vertical-align:top}
#setup_worker .photo{width:50px}
#setup_worker .photo img{width:50px;height:50px}
#setup_worker .name{font-weight:bold;font-size:12px;color:#45688e}
#setup_worker .activity{margin-top:5px;color:#888;font-size:10px}
#setup_worker .rules_set{display:block;margin-top:5px}

#worker-add h1{margin:10px 0;font-weight:bold;color:#31618C}
#worker-add #viewer_id{width:240px;padding:5px;height:13px;margin:7px 5px 0 0}
#worker-add #manual{margin-top:15px}
#worker-add #manual-tab{display:none;margin-left:20px;border-spacing:10px}
#worker-add #manual-tab input{width:220px}
#worker-add #msg{padding:5px 0 0 7px;min-width:100px}
#worker-add #msg span{color:red}
#worker-add #msg._busy{background-position:center 15px}
#worker-add #vkuser table{border-spacing:10px}
#worker-add #vkuser td{vertical-align:top;font-weight:bold;font-size:12px;color:#45688e}

#setup_rule{padding-bottom:30px}
#setup_rule .img_del{float:right}
#setup_rule .utab td{padding-right:10px;vertical-align:top}
#setup_rule .utab img{width:50px}
#setup_rule .vklink{color:#777;display:block}
#setup_rule .name{font-weight:bold;font-size:12px;color:#45688e;margin-bottom:10px}
#setup_rule .headName{margin:20px 0 10px}
#setup_rule #pin-clear{margin-left:116px}
#setup_rule .rtab{border-spacing:8px}
#setup_rule .lab{width:100px;text-align:right}
#setup_rule .rtab input{width:230px}
#RULE_SALARY_BONUS_check{margin-bottom:-3px}
#setup_rule #salary_bonus_sum{
	width:30px;
	margin:0 3px 0 5px;
	text-align:right;
	position:relative;
}



#RULE_APP_ENTER_check{margin:5px 0 10px 166px}
#setup_rule #div-app-enter .label{width:150px;text-align:right}
#setup_rule #td-rule-setup div{display:block;margin-bottom:5px;color:#555}



/* Реквизиты организации */
#setup_rekvisit .headName{margin:0}
#setup_rekvisit .t{border-spacing:10px;margin:0 0 20px 5px}
#setup_rekvisit .label{width:135px}
#setup_rekvisit input{width:240px}
#setup_rekvisit textarea{width:240px;height:20px}



/* Виды деятельности */
#setup-service .unit{
	border:#ddd solid 1px;
	padding:10px 20px;
	margin-bottom:20px;
	background-color:#dfd;
}
#setup-service .unit h1{
	color:#222;
	font:bold 14px Verdana;
	text-decoration:underline;
	margin-bottom:5px;
}
#setup-service .img_edit{float:right}
#setup-service .unit:not(:hover) .img_edit{display:none}
#setup-service .unit h2{color:#444;font-size:12px}
#setup-service .unit ul{margin:5px 0 0 30px}
#setup-service .unit h1._busy{background-position:right center}

#setup-service-edit{border-spacing:10px}
#setup-service-edit input{width:400px}
#setup-service-edit textarea{width:400px}


/* Категории расходов */
#setup_expense{min-height:600px}
#setup_expense .td-name{cursor:move}
#setup_expense .sub{width:65px;text-align:center}
#setup_expense .count{width:65px;text-align:center}
#setup_expense em{
	color:#999;
	font-size:10px;
	margin-left:4px;
	cursor:default;
}
#setup_expense .ed{width:35px}

#setup_expense_sub{min-height:600px}
#setup_expense_sub .headName{margin-top:10px}
#setup_expense_sub #cat-name{font:bold 14px Tahoma}
#setup_expense_sub #spisok{margin-top:10px}
#setup_expense_sub .count{width:65px;text-align:center}
#setup_expense_sub em{
	color:#999;
	font-size:10px;
	margin-left:4px;
	cursor:default;
}


/* Статусы заявок */
#setup_zayav_status #status-spisok{margin-bottom:30px}
#setup_zayav_status ._spisok{margin-top:2px}
#setup_zayav_status td.name{cursor:move}
#setup_zayav_status .name span{font-size:12px}
#setup_zayav_status .b span{font-weight:bold}
#setup_zayav_status .about{
	color:#777;
	font-size:10px;
	margin:3px 0 5px 15px;
	white-space:pre-line;
}
#setup_zayav_status .dop{
	text-align:right;
	font-size:10px;
	color:#b33;
	margin-top:2px
}
#setup_zayav_status .ed{width:35px}

.setup-status-tab .label{width:150px;text-align:right}
.setup-status-tab #name{width:250px}
.setup-status-tab #about{width:250px}
.setup-status-tab #color{
	display:inline-block;
	width:255px;
	height:50px;
	border:#ddd solid 1px;
	cursor:pointer;
}

#setup-status-color-tab .bg{
	display:inline-block;
	width:56px;
	height:56px;
	margin:3px;
	border:#ddd solid 1px;
	cursor:pointer;
	text-align:center;
}


/* Расходы по заявкам */
#setup_zayav_expense .name{width:130px}
#setup_zayav_expense td.name{cursor:move}
#setup_zayav_expense .dop{width:150px}
#setup_zayav_expense .use{width:55px;text-align:center}
#setup_zayav_expense .ed{width:35px}







#setup-cartridge .type{font-weight:bold;margin-bottom:5px}
#setup-cartridge ._spisok{margin-bottom:20px}
#setup-cartridge .edited{background-color:#ffa}
#setup-cartridge .n{width:16px;text-align:right}
#setup-cartridge .name{width:185px}
#setup-cartridge .cost span{cursor:default}
#setup-cartridge .count{text-align:center}








/* Категории товаров */
#setup_tovar_category #but{width:100%}
#setup_tovar_category #spisok{margin-top:20px}
#setup_tovar_category td.name{cursor:move}
#setup_tovar_category .ed{width:35px}

#setup_tovar_category_join .tovar{width:50px;text-align:right}
