#setup .left{padding:15px}
#setup .headName{margin:0 0 15px}
#setup .right{padding:0;width:180px;border-left:0}
#setup .rightLink a.sel{border-color:#6B8EB5}
#setup ._spisok{margin-bottom:1px}

#setup-tab{border-spacing:10px}
#setup-tab .label{text-align:right}
#setup-tab #name{width:210px}
#setup-tab textarea{width:210px;height:50px}

#setup_my #pinset{margin-left:150px}
#setup_my #pinchange{margin:0 10px 0 80px}

#setup_worker .headName{margin-bottom:15px}
#setup_worker .unit,#setup_worker_add table{border-spacing:10px;border:#DDE solid 1px;width:300px;margin:6px 0 6px 20px}
#setup_worker .unit td,#setup_worker_add td{vertical-align:top}
#setup_worker .photo,#setup_worker_add .photo{width:50px}
#setup_worker .photo img,#setup_worker_add .photo img{width:50px;height:50px}
#setup_worker .img_del{float:right;margin-top:2px}
#setup_worker .name,#setup_worker_add .name{font-weight:bold;font-size:12px;color:#45688e}
#setup_worker .rules_set{display:block;margin-top:5px}
#setup_worker_add{margin:10px 0}
#setup_worker_add h1{font-weight:bold;color:#31618C}
#setup_worker_add input{width:240px;padding:5px;height:13px;margin:7px 5px 0 0}
#setup_worker_add .res{margin:10px 0 0 20px}

#setup_rule{padding-bottom:30px}
#setup_rule .utab td{padding-right:10px;vertical-align:top}
#setup_rule .utab img{width:50px}
#setup_rule .vklink{color:#777;display:block}
#setup_rule .name{font-weight:bold;font-size:12px;color:#45688e;margin-bottom:10px}
#setup_rule .headName{margin:20px 0 10px}
#setup_rule #pin-clear{margin-left:116px}
#setup_rule .rtab{border-spacing:8px}
#setup_rule .lab{width:100px;text-align:right}
#setup_rule .rtab input{width:230px}


#RULE_APP_ENTER_check{margin:5px 0 10px 166px}
#setup_rule #div-app-enter .label{width:150px;text-align:right}
#setup_rule #td-rule-setup div{display:block;margin-bottom:5px;color:#555}

