/* Начисления */
#_accrual-add{border-spacing:10px}
#_accrual-add .label{width:90px;text-align:right}
#_accrual-add #about{width:270px}

._accrual-unit .sum{color:#07a;cursor:default}


/* Платежи */
#money-income #top{
	background-color:#F7F7F7;
	border-spacing:10px 5px;
	width:100%;
	border-bottom:#dae1e8 solid 1px;
}
#money-income #mi-l{width:200px;vertical-align:top}
#money-income #mi-center{vertical-align:top}
#money-income #mi-calendar{width:177px;vertical-align:top}
#money-income #worker_id_select{margin-bottom:18px}
#money-income ._check{display:block;margin-top:6px}
#money-income #deleted_check{margin-top:15px}
#money-income #deleted_only_check{margin-top:7px;display:none}
#money-income #path{margin:10px}
#money-income #spisok{margin:0 10px 10px}
#money-income .income-client{font-size:10px;color:#777}
#money-income .income-client a{font-size:10px}
#money-income ._empty{margin-top:20px}
#income-invoice-sum{width:350px}

._income-unit.prepay{background-color:#ffe}
._income-unit.ref{background-color:#fee}
._income-unit .schet{margin:4px 0}
._income-unit .confirm{color:red;font-size:10px}
._income-unit .confirmed{color:#090;font-size:10px}
._income-unit .refund{float:right;color:red}
._income-unit:not(:hover) .refund{display:none}
._income-unit .vk{float:right;margin-top:3px}


/* Внесение платежа */
#_income-add .tab{border-spacing:10px;padding:10px 0;width:100%}
#_income-add .label{width:145px;text-align:right}
#_income-add #about{width:210px}
#_income-add #place-div{display:none;background-color:#efe}
#_income-add #remind-div{display:none;padding:10px 20px;background-color:#dfd}
#_income-add #remind-div h1{font-weight:bold}
#_income-add #remind-div h2{margin-top:3px;color:#555}
#_income-add .remind-iu{
	margin:12px 0;
	padding:8px 10px;
	background-color:#ffb;
	border:#dd9 solid 1px;
}
#_income-add .remind-iu h3{font-size:12px;font-weight:bold}
#_income-add .remind-iu h4{margin-left:20px}
#_income-add .remind-iu ._check{margin:15px 0 5px 20px}



#money-refund .headName{margin:15px 10px 5px}
#money-refund #spisok{padding:10px}
#money-refund ._spisok{margin-top:5px}
#money-refund .sum{color:#c22}
#money-refund .refund-client{font-size:10px;color:#777}
#money-refund .refund-client a{font-size:10px}

#income-refund-tab{padding:20px 0 30px;text-align:center}
#income-refund-tab p{margin:10px 0}

/* Внесение возврата */
#_refund-add-tab{border-spacing:10px}
#_refund-add-tab .label{width:80px;text-align:right}
#_refund-add-tab #isum{color:#888;font-size:10px;margin-left:10px}
#_refund-add-tab #isum b{font-size:10px}
#_refund-add-tab #about{width:220px}



/* Расходы */
#money-expense .headName{margin:15px 10px 0}
#money-expense #spisok{margin:10px}
#money-expense #group{width:auto}
#money-expense #group a.b{font-weight:bold}
#money-expense #summa{margin-top:15px}
#money-expense #tab._spisok{margin-top:7px}
#money-expense .cat{color:#777}
#money-expense .years{margin-top:20px}
#money-expense #mon_radio span{float:right}
#expense-add-tab{border-spacing:10px}
#expense-add-tab .label{width:60px;text-align:right}
#expense-add-tab #about{width:250px}
#expense-add-tab .img_edit{position:relative;top:-4px;left:4px}



/* Расчётные счета */
#money-invoice{margin:0 10px 20px}
#money-invoice ._info{margin:15px 0 0}
#invoice-spisok{margin:10px 0 25px}
#invoice-spisok ._spisok{margin:1px 0 0 0;width:560px}
#invoice-spisok ._spisok:hover{background-color:#ffd}
#invoice-spisok .name{vertical-align:top}
#invoice-spisok .move{cursor:move}
#invoice-spisok .about{
	color:#777;
	font-size:10px;
	margin:3px 7px;
}
#invoice-spisok h6{
	text-align:right;
	font-size:10px;
	color:#d44;
}
#invoice-spisok .worker{vertical-align:top;width:160px}
#invoice-spisok h4{font-size:10px;font-weight:bold;color:#555}
#invoice-spisok h5{font-size:10px;margin:0 0 5px 10px;color:#777}
#invoice-spisok .balans{
	text-align:right;
	width:100px;
	white-space:nowrap;
	vertical-align:top;
	padding-top:6px;
}
#invoice-spisok .ed{
	width:14px;
	text-align:right;
	vertical-align:top;
	padding-top:8px;
}
#invoice-spisok ._check{margin:0 3px -2px 2px}
#invoice-spisok .img_note{margin-bottom:-2px}

#transfer-spisok .confirm{font-size:10px;color:#090}
#transfer-spisok .confirm.no{color:red}

#inout-spisok .action{width:55px}
#inout-spisok .in{background:#f4fff4}
#inout-spisok .out{background:#fff4f4}
#inout-spisok .type{width:150px}

#invoice-setup-tab table{border-spacing:10px}
#invoice-setup-tab .u{
	border:#e8e8e8 solid 1px;
	background-color:#fafafa;
	padding:10px;
	margin:8px 10px;
	cursor:pointer;
}
#invoice-setup-tab h1{font-size:13px;font-weight:bold}
#invoice-setup-tab h2{color:#777;margin:3px 10px}
#invoice-setup-tab .u:hover{background-color:#f4f6f7}

#invoice-edit-tab{border-spacing:12px}
#invoice-edit-tab .label{width:220px;text-align:right}
#invoice-edit-tab #name{width:210px}
#invoice-edit-tab textarea{width:210px;height:50px}




#balans-tab .action{width:100px;background:#efe}
#balans-tab .action.minus{background:#fee}
#balans-tab .balans{width:70px;text-align:right}
#balans-tab .diff{font-size:10px;color:#777}





/* история операций */
#balans-show .day-hd{padding-top:5px}

/* история операций по дням */
#balans-day td{text-align:right}
#balans-day .day{width:60px}
#balans-day .start{width:90px;color:#777}
#balans-day .inc{color:#2a2}
#balans-day .dec{color:#a22}
#balans-day .ost{font-weight:bold}




/* счета на оплату */
#money-schet .headName{margin:15px 10px}
#money-schet #spisok{margin:10px}
#money-schet #result{margin-bottom:10px}
#money-schet #find{margin-top:20px}
#money-schet #paid_check{margin-top:20px}

.schet-unit{background-color:#ffe}
.schet-unit .td-content{padding:8px}
.schet-unit.pass{background-color:#ffb}
.schet-unit.paid{background-color:#cfc}
.schet-unit .pass-info{color:#770;margin:3px 0}
.schet-unit .paid-info{color:#070;margin:3px 0}
.schet-unit ._dropdown{float:right}
.schet-unit .img_xls{float:right}
.schet-unit:not(:hover) ._dropdown{display:none}
.schet-unit .schet-zayav{margin-top:5px}

#_schet-info .tab{border-spacing:10px}
#_schet-info h1{
	text-align:center;
	font-weight:bold;
	font-size:12px;
	margin:5px 0 10px
}
#_schet-info #dop-td{width:410px;vertical-align:top;padding-top:10px}
#_schet-info .doc{margin:5px 0 0 10px;color:#555}
#_schet-info #income{margin-top:20px}
#_schet-info #income ._spisok{margin-top:4px}
#_schet-info #income #no-pay{
	display:inline-block;
	padding:5px 12px;
	background-color:#f8f8dd;
	color:#555;
}
#_schet-info #income .diff{
	margin-left:20px;
	display:inline-block;
	padding:3px 8px;
	background-color:#fdd;
	color:#922;
}
#_schet-info #income .full{background-color:#cfc;color:#070}
#_schet-info #deleted{
	margin-top:15px;
	border:#dcc solid 1px;
	background-color:#fee;
	padding:20px;
	text-align:center;
	width:300px;
	color:red;
}
#_schet-info #dop th{text-align:left;vertical-align:top}
#_schet-info #dop th a{display:block;width:125px;padding:6px 0 6px 20px}
#_schet-info #dop th a:hover{background-color:#e9edf1;text-decoration:none}
#_schet-info #dop th .img_xls{float:right;margin:-1px 20px 0 0}
#_schet-info .n{width:20px;padding-top:8px}
#_schet-info ._spisok input{background:#ffd}
#_schet-info ._spisok input[readonly]{background:#f3f3f3}
#_schet-info ._spisok input.err{background:#fdd;color:#922}
#_schet-info ._spisok textarea{background:#ffd}
#_schet-info ._spisok textarea[readonly]{background:#f3f3f3}
#_schet-info ._spisok textarea.err{background:#fdd;color:#922}
#_schet-info .name{padding-right:0}
#_schet-info .name textarea{width:304px;height:13px}
#_schet-info .tovar-select{float:right}
#_schet-info .vk{
	padding-left:10px;
	padding-right:8px;
	margin:0;
}
#_schet-info .count{width:40px;text-align:center}
#_schet-info .count input{width:30px;text-align:right}
#_schet-info .avai{color:#292}
#_schet-info .cost{width:50px;text-align:right}
#_schet-info .cost input{width:40px;text-align:right}
#_schet-info .sum{padding-top:8px}
#_schet-info .ed{padding-top:8px}
#_schet-info h2{margin-top:20px}
#_schet-info #pole-add{padding:0}
#_schet-info h3{margin-top:20px}
#_schet-info ._check{display:block;margin:3px 0 6px}
#_schet-info #schet-del{color:red}
#_schet-info #hist{display:none}
#_schet-info .result{font-weight:normal}

.schet-link{
	cursor:pointer;
	display:inline-block;
	border:#ccc solid 1px;
	background-color:#ffe;
	padding:1px 5px;
	margin-right:3px;
	color:#555;
}
.schet-link.pass{background-color:#ffb}
.schet-link.paid{background-color:#cfc}
.schet-link.deleted{
	background-color:#eee;
	border:#ddd solid 1px;
	color:#888;
}

/* деньги в информации о заявке */
#_zayav-money{margin-top:15px}
#_zayav-money ._spisok{margin-top:-1px}
#_zayav-money .income{color:#090;cursor:default}
#_zayav-money .refund{color:#c22;cursor:default}



