/* Платежи */
#money-income #top{
	background-color:#F7F7F7;
	border-spacing:10px 5px;
	width:100%;
	border-bottom:#dae1e8 solid 1px;
}
#money-income #mi-l{width:200px;vertical-align:top}
#money-income #mi-center{vertical-align:top}
#money-income #mi-calendar{width:177px;vertical-align:top}
#money-income #worker_id_select{margin-bottom:18px}
#money-income ._check{display:block;margin-top:6px}
#money-income #deleted_check{margin-top:15px}
#money-income #deleted_only_check{margin-top:7px;display:none}
#money-income #path{margin:10px}
#money-income #spisok{margin:0 10px 10px}
#money-income ._empty{margin-top:20px}
#income-invoice-sum{width:350px}

._income-unit.prepay{background-color:#ffe}
._income-unit.ref{background-color:#fee}
._income-unit .schet{margin:4px 0}
._income-unit .confirm{color:red;font-size:10px}
._income-unit .confirmed{color:#090;font-size:10px}
._income-unit .refund{float:right;color:red}
._income-unit:not(:hover) .refund{display:none}
._income-unit .vk{float:right;margin-top:3px}


/* Внесение платежа */
.income-add-place{background-color:#efe}
.income-add-remind{background-color:#dfd}
.income-add-remind-iu{
	margin:12px 0;
	padding:8px 10px;
	background-color:#ffb;
	border:#dd9 solid 1px;
}



#money-refund .headName{margin:15px 10px 5px}
#money-refund #spisok{padding:10px}
#money-refund ._spisok{margin-top:5px}
#money-refund .sum{color:#c22}
#money-refund .refund-client{font-size:10px;color:#777}
#money-refund .refund-client a{font-size:10px}

#income-refund-tab{padding:20px 0 30px;text-align:center}
#income-refund-tab p{margin:10px 0}


/* Расходы */
#money-expense .headName{margin:15px 10px 0}
#money-expense #spisok{margin:10px}
#money-expense #group{width:auto}
#money-expense #group a.b{font-weight:bold}
#money-expense #summa{margin-top:15px}
#money-expense #tab._spisok{margin-top:7px}
#money-expense .cat{color:#777}
#money-expense .years{margin-top:20px}
#money-expense #mon_radio span{float:right}



/* Расчётные счета */
#money-invoice{margin:0 10px 20px}
#money-invoice ._info{margin:15px 0 0}
#invoice-spisok{margin:10px 0 25px}
#invoice-spisok ._spisok{margin:1px 0 0 0;width:560px}
#invoice-spisok ._spisok:hover{background-color:#ffd}
#invoice-spisok .name{vertical-align:top}
#invoice-spisok .move{cursor:move}
#invoice-spisok .about{
	color:#777;
	font-size:10px;
	margin:3px 7px;
}
#invoice-spisok h6{
	text-align:right;
	font-size:10px;
	color:#d44;
}
#invoice-spisok .worker{vertical-align:top;width:160px}
#invoice-spisok h4{font-size:10px;font-weight:bold;color:#555}
#invoice-spisok h5{font-size:10px;margin:0 0 5px 10px;color:#777}
#invoice-spisok .balans{
	text-align:right;
	width:100px;
	white-space:nowrap;
	vertical-align:top;
	padding-top:6px;
}

#transfer-spisok .confirm{font-size:10px;color:#090}
#transfer-spisok .confirm.no{color:red}

#inout-spisok .action{width:55px}
#inout-spisok .in{background:#f4fff4}
#inout-spisok .out{background:#fff4f4}
#inout-spisok .type{width:150px}

#invoice-edit-tab{border-spacing:12px}
#invoice-edit-tab .label{width:220px;text-align:right}
#invoice-edit-tab #name{width:210px}
#invoice-edit-tab textarea{width:210px;height:50px}




#balans-tab .action{width:100px;background:#efe}
#balans-tab .action.minus{background:#fee}
#balans-tab .balans{width:70px;text-align:right}
#balans-tab .diff{font-size:10px;color:#777}





/* история операций */
#balans-show .day-hd{padding-top:5px}

/* история операций по дням */
#balans-day td{text-align:right}
#balans-day .day{width:60px}
#balans-day .start{width:90px;color:#777}
#balans-day .inc{color:#2a2}
#balans-day .dec{color:#a22}
#balans-day .ost{font-weight:bold}






/* деньги в информации о заявке */
#_zayav-money{margin-top:15px}
#_zayav-money ._spisok{margin-top:-1px}
#_zayav-money .income{color:#090;cursor:default}
#_zayav-money .refund{color:#c22;cursor:default}



