/* Главное меню */
#_menu{
	border-bottom:#31618C solid 1px;
	padding:15px 5px 0 5px;
}
#_menu a{
	font-family: -apple-system, BlinkMacSystemFont, Roboto, Open Sans, Helvetica Neue, sans-serif;
	font-size: 13px;
}
#_menu a.p{
	display:inline-block;
	margin-left:5px;
	padding:8px 14px 6px;
	color:#31618C;
	border-radius:5px 5px 0 0;
}
#_menu a.p:hover{text-decoration:none}
#_menu a.p:not(.sel):hover{background-color:#DEE3EF}
#_menu a.p.sel{color:#FFF;background-color:#31618C}
#_menu a b{font-size:13px}

#_menu a.main{
	padding-left:16px;
	padding-right:16px;
	background-image:url(data:image/gif;base64,R0lGODlhEgAoAJEAAAAAAP///zFhjP///yH5BAEAAAMALAAAAAASACgAAAItlI+py+MPo5y0VoYztrx7qoXiR5bmiabqyrbuCw/BTNf2jefxm/d+v3P9hsQCADs=);
	background-repeat:no-repeat;
	background-position:9px 10px;
}
#_menu a.main.sel{background-position:9px -18px}
#_menu a.back{
	float:right;
	position:relative;
	top:9px;
	right:10px;
}
#_menu._busy{background-position:right center}






/* Дополнительные меню */
/* type 1 */
._menuDop1{border-bottom:#E7E8EC solid 1px;margin:5px 0 10px}
._menuDop1 .link{
	font-family:-apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
	font-size:13px;

	display:inline-block;
	color:#777;
	padding:14px 6px 10px;
	margin:0 8px -1px;
}
._menuDop1 .sel{color:#000;border-bottom:#6387AC solid 2px}
._menuDop1 .link:hover{text-decoration:none}
._menuDop1 .link:not(.sel):hover{border-bottom:#CAD2DB solid 2px}

/* type 2 */
._menuDop2{margin:5px 0 10px}
._menuDop2 .link{
	display:inline-block;
	color:#45688e;
	margin:0 4px;
	font-weight:bold;
	padding:3px 8px 0;
	border-radius:2px;
	height:17px;
}
._menuDop2 .sel{background-color:#597da3;color:#fff}
._menuDop2 .link:hover{text-decoration:none}
._menuDop2 .link:not(.sel):hover{background-color:#e9edf1}





/* Заголовок 1 - на сером фоне*/
.hd1{
	font-size:14px;
	color:#333;
	background:#FAFBFC;
	border-bottom:#E7E8EC solid 1px;
	padding:14px 17px;
}
.hd1 b,.hd1 u{font-size:14px}





/* Текст с информацией на жёлтом форе */
._info{
	font-family:-apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
	font-size:13px;

	background:#ffffe6;
	border:#eea 1px solid;
	border-radius:3px;
	padding:8px 12px;
	text-align:justify;
	margin-bottom:10px;
	line-height:1.4;
}
._info b{font-size:13px}
._info u{font-size:13px}
._info a{font-size:13px}
._info p{
	font-size:13px;
	margin:3px 0 7px;
	line-height:1.4;
}


