*{	padding:0;
	margin:0;
	font:13px normal;
	font-family: -apple-system, BlinkMacSystemFont, Roboto, Open Sans, Helvetica Neue, sans-serif;
}
body{background:#fff}
a{color:#2B587A;text-decoration:none;outline:none;cursor:pointer}
a:hover{text-decoration:underline}
b{font-weight:bold}
i{font-style:italic}
input,textarea{
	border:1px solid #d3d9de;
	padding:6px 8px;
	border-radius:1px;
	outline:none;
}
input[type="text"]:disabled{color:#777;background:#f0f0f0;border-color:#ccc}
input[readonly]{color:#555;background-color:#f5f5f5}
input.oplata{font:bold 13px Tahoma;width:60px;padding:4px}
input.money{font:bold 14px Tahoma;width:100px}
input.err{background:#fff2f2}
textarea{resize:none;height:30px}
textarea.min{height:15px}
textarea.err{background:#fff2f2}
img{border:none}
table{border:0;border-spacing:0}





/* Основное окно фрейма */
#frameBody{
	position:relative;
	margin:0 auto;
	background:#fff;
	max-width:795px;
	border-bottom:#DAE1E8 solid 1px;
	overflow:hidden;
}
#frameHidden{
	border:0;
	width:100%;
	height:100%;
	position:absolute;
	z-index:-1;
}



/* Ссылка добавления или продолжения списка, при наведении полностью окрашивается */
.bg-link{
	display:block;
	color:#2B587A;
	cursor:pointer;
	padding:10px;
	text-align:center;
}
.bg-link:hover{text-decoration:none;background:#F0F2F5}






/* Иконки */
.icon{
	display:inline-block;
	background:url(../../img/icon_vk.png?38) no-repeat;
	width:18px;
	height:18px;
	padding:0 1px;
	cursor:pointer;
}
.icon-empty{background-position:0 -5000px}
.icon-client{background-position:0 0}
.icon-del{background-position:0 -20px}
.icon-del-red{background-position:0 -120px}
.icon-del-white{background-position:0 -320px}
.icon-zp{background-position:0 -40px}
.icon-vk{background-position:0 -60px}
.icon-edit{background-position:0 -80px}
.icon-out{background-position:0 -100px}
.icon-rub{background-position:0 -140px}
.icon-print{background-position:0 -160px}
.icon-worker{background-position:0 -180px}
.icon-setup{background-position:0 -200px}
.icon-setup-big{background-position:0 -220px}
.icon-sort{background-position:0 -240px}
.icon-add{background-position:0 -260px}
.icon-ok{background-position:0 -280px}
.icon-sub{background-position:0 -300px}
.icon-dot{background-position:0 -340px}
.icon-link{background-position:0 -360px}
.icon-join{background-position:0 -380px}
/*.icon-off{background-position:0 -400px} мусорный контейнер*/
.icon-order{background-position:0 -420px}
.icon-move{background-position:0 -440px}
.icon-avai{background-position:0 -460px}
.icon-off{background-position:0 -480px}
.icon-stat{background-position:0 -500px}
.icon-hint{
	background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAYAAAA7bUf6AAAAAXNSR0IArs4c6QAAAitJREFUOBGdVDFoU1EUvfe9/5UPKRXBQRelglCczOAmDloqTSPo4NzZmq9JC652kkJIYmi1Y+cOijZFRQeLm2DAwerUUReVSgO1Sf+73vPTX76/RdA35L77zjn3P+47N0yZVa4tBeznrpLQRWIeEnJHmMwGiawT06r0Os/qlRtbaRmnk+mHrcsustN61hbpvTSH+eMmHf85QF8H3bacZfZHFcsbG1WrN8dfJ9q9IpX5lQmO+Hpk3d3G5PinhJCNd+ZbwzYys2LlcW2ysAjc4Ac3QAG305n4WwFwgYMHPnQ4434PBp44E5XTBcrN1gWF72lfzjPJF3FUr98uLECEhRsZZ+vS27xm4iZqD/4ogOayWdYiw0JSFaEtNvwofLB8qV+ifyPdt6E3eAVm9yIBEXt+cFJE3pO4SqNUmHHM93FuiM8hJgvNh97DM5IfrSUA4lyp+FlD/NVSc+mYFQk17xqWV8CThdeTLg8Z+ADPmADpeGv26QmPcu+E6LSL3GgtLH5I49BB78FI8IGC39IE7L3AXmGmU454rFEuvsni0Al5G9oTWYeRsoQ4j7afk5OZ7vfO24PwWKd67RWt7jpxH8/YYES7GR4aDM7sA/Ug1qneYBY0z+Pds0QR1xXhX8ZSlMV2+XnoY9vDebJjQjhRh+tHVpDN1aBHjZdbZM81MUOx7bHBLAA46EbpIrFTlQd+MoR7Awji1NzKiIiZ0m07NqDv1v5pipOv/c//yW90GxY+MmYg4gAAAABJRU5ErkJggg==") no-repeat 0 0;
	margin-bottom:-5px;
	opacity:.5;
}
.icon-hint:hover{opacity:1}







/* Главное меню */
#_menu{
	border-bottom:#31618C solid 1px;
	padding:15px 5px 0 5px;
}
#_menu a.p{
	display:inline-block;
	margin-left:5px;
	padding:8px 14px 6px;
	color:#31618C;
	border-radius:5px 5px 0 0;
}
#_menu a.p:hover{text-decoration:none}
#_menu a.p:not(.sel):hover{background-color:#DEE3EF}
#_menu a.p.sel{color:#FFF;background-color:#31618C}

#_menu a.main{
	padding-left:16px;
	padding-right:16px;
	background-image:url(data:image/gif;base64,R0lGODlhEgAoAJEAAAAAAP///zFhjP///yH5BAEAAAMALAAAAAASACgAAAItlI+py+MPo5y0VoYztrx7qoXiR5bmiabqyrbuCw/BTNf2jefxm/d+v3P9hsQCADs=);
	background-repeat:no-repeat;
	background-position:9px 10px;
}
#_menu a.main.sel{background-position:9px -18px}
#_menu a.back{
	float:right;
	position:relative;
	top:9px;
	right:10px;
}
#_menu._busy{background-position:right center}






/* Дополнительные меню */
/* type 1 */
._menuDop1{border-bottom:#E7E8EC solid 1px;margin:5px 0 10px}
._menuDop1 .link{
	display:inline-block;
	color:#777;
	padding:14px 6px 10px;
	margin:0 8px -1px;
}
._menuDop1 .sel{color:#000;border-bottom:#6387AC solid 2px}
._menuDop1 .link:hover{text-decoration:none}
._menuDop1 .link:not(.sel):hover{border-bottom:#CAD2DB solid 2px}

/* type 2 */
._menuDop2{margin:5px 0 10px}
._menuDop2 .link{
	display:inline-block;
	color:#45688e;
	margin:0 4px;
	font-weight:bold;
	padding:3px 8px 0;
	border-radius:2px;
	height:17px;
}
._menuDop2 .sel{background-color:#597da3;color:#fff}
._menuDop2 .link:hover{text-decoration:none}
._menuDop2 .link:not(.sel):hover{background-color:#e9edf1}

/* type 3 */
._menuDop3{margin:5px 0 10px}
._menuDop3 .link{
	display:block;
	padding:10px;
}
._menuDop3 .link:hover{
	text-decoration:none;
	background-color:#e9edf1;
}
._menuDop3 .link .icon{float:left;margin:-1px 3px 0 0}


/* type 3 */
._menuDop4{
	padding:15px;
	background:#f7f7f7;
	border-bottom:#dae1e8 solid 1px;
	text-align:center;
}
._menuDop4 .link{
	display:inline-block;
	color:#45688e;
	margin:0 4px;
	font-weight:bold;
	padding:5px 12px;
	border-radius:2px;
}
._menuDop4 .sel{background-color:#597da3;color:#fff}
._menuDop4 .link:hover{text-decoration:none}
._menuDop4 .link:not(.sel):hover{background-color:#e9edf1}










/* Заголовок 1 - на сером фоне */
.hd1{
	font-size:14px;
	color:#333;
	background:#FAFBFC;
	border-bottom:#E7E8EC solid 1px;
	padding:14px 17px;
}
.hd1 a,.hd1 b,.hd1 u{font-size:14px}
.hd1 a.link{color:#777}


/* Заголовок 2 - подчёркнутая линия */
.hd2{
	color:#31618C;
	font-size:16px;
	border-bottom:#DEE3EF solid 1px;
	padding:2px 0;
	margin:5px 0;
}
.hd2 .vk.small.fr{margin-top:-4px}
.hd2 b{font-size:16px}





/* Текст с информацией на жёлтом форе */
._info{
	background:#ffffe6;
	border:#eea 1px solid;
	border-radius:3px;
	padding:8px 12px;
	text-align:justify;
	margin-bottom:10px;
	line-height:1.4;
}
._info p{
	margin:3px 0 7px;
	line-height:1.4;
}




/* Сообщение пустого запроса */
._empty{
	font-size:14px;
	color:#777;
	background:#f9f9f9;
	border:#ddd solid 1px;
	border-radius:2px;
	text-align:center;
	padding:70px 20px;
}




/* Кнопка ВКонтакте */
button.vk{
	padding: 7px 16px 8px;
	zoom: 1;
	cursor: pointer;
	white-space: nowrap;
	outline: none;
	overflow: visible;
	line-height: 13px;
	background-color:#6383a8;/* 6287AE - новый контакт */
	color: #fff;
	border:0;
	vertical-align: top;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px;
	-webkit-transition: background-color 100ms ease-in-out;
	-khtml-transition: background-color 100ms ease-in-out;
	-moz-transition: background-color 100ms ease-in-out;
	-ms-transition: background-color 100ms ease-in-out;
	-o-transition: background-color 100ms ease-in-out;
	transition: background-color 100ms ease-in-out;
}
button.vk:not(._busy):hover{background:#6d8cb0} /* 678EB4 */
button.vk.fw{width:100%}
button.vk:active{padding-top:8px;padding-bottom:7px}
button.vk._busy{color:transparent}
button.vk.small{padding:4px 10px 3px;font-size:12px}
button.vk.small:active{padding-top:5px;padding-bottom:2px}
button.vk.cancel{background:transparent;color:#33567F}
button.vk.cancel:hover{background:#E5EBF1}
button.vk.red{background-color:#b55}
button.vk.red:hover{background-color:#c66}
button.vk.grey{background-color: #888}
button.vk.grey:hover{background-color:#999}
button.vk.pink{background-color: #c6c}
button.vk.pink:hover{background-color:#d7d}
button.vk.green{background-color: #00AB50}
button.vk.green:hover{background-color:#00BB57}












/* Список в таблице */
._spisokTab{
	border-collapse:collapse;
	border:#D3DBE1 solid 1px;
	background:#fff;
	width:100%;
}
._spisokTab th{
	background:#E3E9EE;
	border:#D3DBE1 solid 1px;
	color:rgb(81, 103, 122);
	padding:8px;
	font-size:14px;
}
._spisokTab td{
	border:#EFF2F5 solid 1px;
	padding:6px 8px;
}
._spisokTab td.topi{padding-top:13px}
._spisokTab .icon-del.out{
	position:absolute;
	right:-25px;
}







/* Единица ссылки шаблона для печати */
.template-print-unit{
	border:#dde solid 1px;
	border-radius:3px;
	padding:5px;
	margin:10px 0;
	cursor:pointer;
}

/* Ссылка на счёт на оплату в начислениях */
.schet-pay-acc{
	display:inline-block;
	border:#dde solid 1px;
	padding:4px 8px;
	cursor:pointer;
}
.schet-pay-income{
	display:inline-block;
	border:#dde solid 1px;
	padding:2px 5px;
	cursor:pointer;
}














/* Короткие стили */
.w15{width:15px}
.w35{width:35px}
.w50{width:50px}
.h20{height:20px}
.h25{height:25px}
.h50{height:50px}
.mh150{min-height:150px}
.w70{width:70px}
.w100{width:100px}
.w100p{width:100%}
.w125{width:125px}
.w150{width:150px}
.w175{width:175px}
.w200{width:200px}
.w230{width:230px}
.w250{width:250px}
.w300{width:300px}
.w350{width:350px}
.w400{width:400px}
.w450{width:450px}
.w500{width:500px}

.pad5{padding:5px}
.pad2-7{padding:2px 7px}
.pad8{padding:8px}
.pad10{padding:10px}
.pad15{padding:15px}
.pad30{padding:30px}
.pt1{padding-top:1px}
.pt5{padding-top:5px}
.pt10{padding-top:10px}
.pt15{padding-top:15px}
.pb5{padding-bottom:5px}
.pb40{padding-bottom:40px}
.pr5{padding-right:5px}
.pr10{padding-right:10px}
.pb10{padding-bottom:10px}
.pl5{padding-left:5px}
.pl10{padding-left:10px}
.pl20{padding-left:20px}

.mar8{margin:8px}
.mar10{margin:10px}
.mar20{margin:20px}
.mar0-5{margin:0 5px}
.mar020{margin:0 20px}
.mr5{margin-right:5px}
.mr10{margin-right:10px}
.mr20{margin-right:20px}
.ml5{margin-left:5px}
.ml8{margin-left:8px}
.ml10{margin-left:10px}
.ml20{margin-left:20px}
.ml30{margin-left:30px}
.ml40{margin-left:40px}
.mt1{margin-top:1px}
.mtm1{margin-top:-1px}
.mt3{margin-top:3px}
.mt5{margin-top:5px}
.mt10{margin-top:10px}
.mt15{margin-top:15px}
.mt20{margin-top:20px}
.mt30{margin-top:30px}
.mt40{margin-top:40px}
.mb1{margin-bottom:1px}
.mb5{margin-bottom:5px}
.mb10{margin-bottom:10px}
.mb20{margin-bottom:20px}
.mb30{margin-bottom:30px}
.mb100{margin-bottom:100px}

.collaps{border-collapse:collapse}
.bs5{border-spacing:5px}
.bs10{border-spacing:10px}
.bs15{border-spacing:15px}
.bor1{border:#E2E7EC solid 1px}
.bor-e8{border:#e8e8e8 solid 1px}
.bor-f0{border:#f0f0f0 solid 1px}

.b{font-weight:bold}
.i{font-style:italic}
.u{text-decoration:underline}

/* Цвета */
.white{color:#fff}
.red{color:#E22}
.black{color:#000}
.color-555{color:#555}/* тёмно-серый */
.grey{color:#888}/* серый */
.pale{color:#aaa}/* бледный */
.color-ccc{color:#ccc}/* совсем бледный */
.color-vin{color:#c88}/* бордовый */
.color-del{color:#a66}/* удалено: тёмно-бордовый */
.color-acc{color:#07a}/* голубой - начисление */
.color-pay{color:#090}/* зелёны - платёж */
.color-ref{color:#800}/* красный - возврат */
.color-sal{color:#770}/* салатовый - расчётный счёт */

.bge{background-color:#ffa}
.bg-fff{background-color:#fff}
.bg-eee{background-color:#eee}
.bg-gr1{background-color:#F9F9F9}/* светло-серый */
.bg-gr2{background-color:#F2F6F9}/* бледно-серо-синий */
.bg-gr3{background-color:#F7F7F7}/* стандарт светло-серый */
.bg-add{background-color:#e0ffe0}
.bg-fee,.bg-del{background-color:#fee}
.bg-ffe{background-color:#ffe}
.bg-ffd{background-color:#ffd}
.edtd,/* отредактировано. При наведении класс удаляется */
.bg-ffc,
.bg-ch{background-color:#ffc}   /* жёлтый - данные изменены */
.bg-err,
.bg-fcc{background-color:#fcc}  /* красный - ошибка */
.bg-dfd{background-color:#dfd}  /* зелёный */
.bg-ddf{background-color:#ddf}  /* синий */


.db{display:block}
.dib{display:inline-block}
.dn{display:none}
.vh{visibility:hidden}
.wsnw{white-space:nowrap}
.wspl{white-space:pre-line}
.prel{position:relative}
.pabs{position:absolute}

.center{text-align:center}
.r{text-align:right}
.fr{float:right}
.fl{float:left}

.fs11{font-size:11px}
.fs12{font-size:12px}
.fs14{font-size:14px}
.fs15{font-size:15px}
.fs16{font-size:16px}
.fs17{font-size:17px}
.fs18{font-size:18px}

/* Курсоры */
.curM{cursor:move}
.curD{cursor:default}
.curP{cursor:pointer}

/* Изменение цвета при наведении */
.over0:hover{background-color:#fff}/* белый */
.over1:hover{background-color:#F2F6F9}/* бледно-серо-синий */
.over2:hover{background-color:#FFFFF0}/* бледно-жёлтый */
.over3:hover,.over3:hover textarea{background-color:#ffc} /* жёлтый */
.over4:hover{background-color:#F9F9F9}/* светло-серый */

/* Линии */
.line-b{border-bottom:#DEE3EF solid 1px}
.line-b1{border-bottom:#EFF2F5 solid 1px}/* светлая нижняя линия */
.line-r{border-right:#DEE3EF solid 1px}

/* Подсветка найденной подстроки */
.fndd{background:#ffc;border-bottom:1px solid #FE2}


