#_zayav #z-count{color:#777;margin-left:10px}
#_zayav .right{
	width:180px;
	border:0;
	padding-bottom:150px;
	padding-left:0;
	height:1350px;
}
#_zayav .rightLink b{float:right}

/* Срок выполнения заявки */
#_zayav .zayav-srok{float:right}

#_zayav #ob_onpay_check{margin-top:20px;color:red}

#_zayav ._empty{margin:10px}
#_zayav ._next{margin:6px 8px 0}



/* Ссылка на объявления в формате Word */
#obWordPrint{display:inline-block;margin-top:20px}
#obWordPrint .img_word{margin-bottom:-3px}

/* Номера газет */
#gn_nomer_id_select .selun b{display:inline-block;width:14px;text-align:right;margin-right:2px}
#gn_nomer_id_select .selun span{display:inline;color:#555}
#gn_nomer_id_select .selun.ov span{color:#ddd}
#gn_nomer_id_select .selun .lost,#nomer_select .selun .lost *{color:#888}
#gn_nomer_id_select .selun.ov .lost,#nomer_select .selun.ov .lost *{color:#bbb}

#gn_nomer_id_radio div{font-size:10px}
#gn_nomer_id_radio .lost{text-decoration:line-through;color:#999}
#gn_polosa_color_radio{margin-top:8px}


/* элемент списка заявок */
._zayav-unit{
	cursor:pointer;
	margin:10px 10px 0;
	border:#ccc solid 1px;
	border-radius:2px;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
	min-height:80px;
	background:#fff;
}
._zayav-unit:hover{border:#bbb solid 1px;box-shadow: 0 0 5px rgba(0,0,0,0.4)}
._zayav-unit em{background:#ffc;border-bottom:1px solid #FE2}
._zayav-unit .name{
	display:block;
	margin:4px 0 2px 6px;
	font-size:12px;
	font-weight:bold;
	width:310px;
}
._zayav-unit .name em{font-weight:bold;font-size:12px}
._zayav-unit b em{font-weight:bold}
._zayav-unit .ug{margin:0 5px;color:#777}
._zayav-unit .about{
	border:#eee solid 1px;
	font:14px Times New Roman;
	background-color:#fffff0;
	padding:2px 4px;
	display:inline-block;
}
._zayav-unit .about em{font:14px Times New Roman}

/* Номер и дата */
._zayav-unit .zd{
	position:absolute;
	right:4px;
	top:2px;
	text-align:right;
	font-size:10px;
	color:#777;
}
._zayav-unit .zd em{font-size:10px}
._zayav-unit .zd h2{font-size:10px;color:#999}
._zayav-unit .date-ready{font-size:10px;color:#3a3;font-weight:bold}
._zayav-unit .tab{border-spacing:2px;margin:4px 0 4px 4px}
._zayav-unit .label{width:50px;padding-left:5px}
._zayav-unit .acc{color:#07a;cursor:default;font-size:10px}
._zayav-unit .pay{color:#090;cursor:default;font-size:10px}
._zayav-unit .diff .acc,
._zayav-unit .diff .pay{color:#c33}
._zayav-unit .dog{color:#555}
._zayav-unit .note{display:none}
._zayav-unit.deleted{background-color:#ddd;opacity:.7}
._zayav-unit.deleted .name{color:#777}
._zayav-unit .zu-main{width:100%;min-height:80px}
._zayav-unit .zu-td1{vertical-align:top;position:relative}
._zayav-unit .status{
	padding:4px;
	font-weight:bold;
	text-shadow:#555 0 0 6px;
	position:absolute;
	bottom:0;
	right:0;
}
._zayav-unit .image{
	width:80px;
	vertical-align:top;
	text-align:center;
}
._zayav-unit .image span{
	display:inline-block;
	width:80px;
	background-color:#FFF;
}
._zayav-unit .polosa-rek{
	display:inline-block;
	border:#ded solid 1px;
	background:#dfd;
	padding:2px 4px 3px;
	margin:0 5px;
}
._zayav-unit .polosa-rek.lost{background:#f5f5f5;border-color:#ddd}

#zayav-status-filter{position:relative}
#zayav-status-filter #any{
	padding:5px 12px;
	color:#FFF;
	background:#6B8EB5;
	border:#39659C solid 1px;
	cursor:pointer;
}
#zayav-status-filter.us #any{display:none}
#zayav-status-filter #sel{
	padding:5px 12px;
	color:#000;
	border:#ccc solid 1px;
	cursor:pointer;
}
#zayav-status-filter:not(.us) #sel{display:none}
#zayav-status-filter #status-tab{display:none}
#zayav-status-filter table{
	position:absolute;
	right:0;
	top:0;
	z-index:1000;
	border-spacing:1px;
	background:#aaa;
	box-shadow: 0 0 12px rgba(0,0,0,0.4);
}
#zayav-status-filter tr{background:#fff;cursor:pointer}
#zayav-status-filter td{padding:8px 60px 8px 8px;white-space:nowrap}
#zayav-status-filter td:hover{background-color:#fff}
#zayav-status-filter em{
	color:#777;
	font-weight:bold;
	position:absolute;
	right:8px;
}



/* Внесение новой заявки из клиента - список видов заявок */
#_client-zayav-add-tab .u{
	border:#e7e7e7 solid 1px;
	margin:20px 0;
	padding:20px 10px;
	text-align:center;
	cursor:pointer;
	color:#888;
	background-color:#f5f5f5;
}
#_client-zayav-add-tab .u:hover {
	border:#dde solid 1px;
	color:#048;
	background-color:#eef;
}
#_client-zayav-add-tab .u._busy span{visibility:hidden}





/* Внесение/редактирование заявки */
.zayav-edit_dialog .label{width:190px;text-align:right}
.zayav-edit_dialog #ze-name{width:250px}
.zayav-edit_dialog #ze-about{width:250px}
.zayav-edit_dialog #ze-about-calc{
	color:#583;
	margin:3px;
	height:28px;
	display:none;
}
.zayav-edit_dialog #ze-about-calc span{font-size:10px;color:#888;margin-left:10px}
.zayav-edit_dialog #ze-count{width:40px}
.zayav-edit_dialog #ze-adres{width:231px}
.zayav-edit_dialog #client-adres_check{margin:0 0 -3px 5px}
.zayav-edit_dialog #ze-imei{width:130px}
.zayav-edit_dialog #ze-serial{width:250px}
.zayav-edit_dialog #ze-phone{width:250px}
.zayav-edit_dialog #ze-note{width:251px;height:40px}
.zayav-edit_dialog #ze-size_x,
.zayav-edit_dialog #ze-size_y{width:40px}
.zayav-edit_dialog #ze-size_x.err,
.zayav-edit_dialog #ze-size_y.err{background:#fdd}
.zayav-edit_dialog #ze-kv_sm{
	width:50px;
	cursor:default;
	background:#f4f4f4;
	font-weight:bold;
}
.zayav-edit_dialog .xb{font:12px Trebuchet MS;margin:0 5px;color:#777}
.zayav-edit_dialog sup{font-size:10px;position:relative;top:2px}
.zayav-edit_dialog #ze-sum_cost:read-only{background:#f3f3f3}
.zayav-edit_dialog #ze-skidka_sum{margin-left:5px;color:#999;font-size:10px}





/* Список номеров газеты при внесении и редактировании заявок */
#gnGet{margin:-27px 0 30px 188px}
#gnGet #dopLinks{padding:0 0 5px 5px;border:none;background-color:transparent}
#gnGet #dopLinks a{margin-right:5px}
#gnGet ._dropdown{margin-right:5px}
#gnGet #dopDef_dropdown{margin:-4px 0 0 4px}
#gnGet .gn-spisok{margin-left:-127px}
#gnGet #darr{
	font-size:12px;
	text-align:center;
	color:#AAA;
	height:15px;
	width:252px;
	cursor:pointer;
	padding:1px 0 3px;
}
#gnGet #darr:hover{background-color:#e1e7ed;color:#444}
#gnGet .gns-week {
	width:252px;
	background-color:#FFF;
	border:#DDD solid 1px;
	margin-bottom:2px;
	height:19px;
}
#gnGet .gns-week:not(.schet):hover{border:#99A solid 1px}
#gnGet .td {padding:2px 3px;color:#333;font-size:10px}
#gnGet .td b,#gnGet .td tt{font-size:10px}
#gnGet .g{color:#888;margin-left:3px;font-size:10px}
#gnGet .cena {
	width:70px;
	border:none;
	padding:0 2px;
	text-align:right;
	border-left:#FFF solid 1px;
	color:#FFF;
	overflow: hidden;
}
#gnGet .gnsel{background-color:#BFB}
#gnGet .prev{background-color:#FFB}
#gnGet .gnsel .cena{
	border-left:#DDD solid 1px;
	background-color:#EFE;
	color:#444;
}
#gnGet .schet,
#gnGet .schet .cena{background-color:#eee}
#gnGet .vdop{padding-left:8px}
#gnGet #selCount{
	width:127px;
	vertical-align:top;
	text-align:right;
	color:#666;
	font:bold 10px Tahoma;
	padding-right:5px;
}
#gnGet #selCount a{font-size:10px;display:block;color:#aaa}



/* Информация о заявке */
#_zayav-info #nz{/* номер заявки */
	float:right;
	margin-top:3px;
	color:#777;
	cursor:default;
}
#_zayav-info #category{
	display:inline-block;
	color:#999;
	margin-bottom:3px;
}
#_zayav-info table .hd2{max-width:550px;margin-top:0;}
#_zayav-info .hd2 ._dropdown{float:right}
/* Блок с суммами начислений и платежей */
#_zayav-info #pay-tab{
	border-collapse:collapse;
	margin:-1px 0 10px;
}
#_zayav-info #pay-tab td{
	border:#DEE3EF solid 1px;
	padding:4px 15px 6px;
	text-align:center;
	vertical-align:top;
	font:14px tahoma;
}
#_zayav-info #pay-tab .grey{margin-bottom:5px}
#_zayav-info #pay-tab span{font-size:14px}
#_zayav-info .cost{color:#777;cursor:default}
#_zayav-info .acc{color:#07a;cursor:default}
#_zayav-info .pay{color:#090;cursor:default}
#_zayav-info .dolg{color:#c22}
#_zayav-info #pay-tab.nopaid{background:#fff0f0}
#_zayav-info #pay-tab.paid{background:#efe}

#_zayav-info ._info{margin:10px 0 5px}
#_zayav-info #tab{border-spacing:8px}
#_zayav-info .label{width:70px;white-space:nowrap}
#_zayav-info #added{
	font-size:10px;
	color:#999;
	text-align:right;
	margin:10px 0;
}
#_zayav-info .ug{margin:0 7px;color:#777}
#_zayav-info .dogn{cursor:default}/* номер договора */
#_zayav-info .img_word{margin:0 15px -4px -2px}
#_zayav-info .img_cancel{margin:0 0 -1px 5px}
#_zayav-info .attach-canceled{margin-left:5px;color:#999;cursor:default}
#_zayav-info #foto{width:200px;text-align:center}
#_zayav-info #zayav-deleted{
	background-color:#fdd;
	border-bottom:#ecc solid 1px;
	padding:15px;
	font-weight:bold;
	text-align:center;
	color:red;
}
#_zayav-info #tsev{border-collapse:collapse}/* tovar-several несколько товаров */
#_zayav-info #tsev td{border:#ddd solid 1px;padding:3px 8px}
#_zayav-info #tsev .n{color:#999}
#_zayav-info .kvit_defect{color:#777}
#_zayav-info .onpay{
	margin:10px 120px;
	text-align:center;
	padding:15px;
}



#_zayav-accrual{margin-top:10px}
#_zayav-accrual ._spisok{margin-top:-1px}







/* Информация о товаре в информации о заявке */
#zayav-tovar{width:200px}
#zayav-tovar #content{border-left:#e9edf1 solid 1px}
#zayav-tovar #tovar-name{padding:7px 0 0 7px}
#zayav-tovar #tovar-name a{font-weight:bold}
#zayav-tovar #info{margin:7px 0 10px 7px;border-spacing:1px}
#zayav-tovar #info *{font-size:10px}
#zayav-tovar #info th{width:70px;color:#777;text-align:left;font-size:10px}
/* Список запчастей*/
#zayav-tovar-spisok{border-left:#e9edf1 solid 1px}
#zayav-tovar-spisok .tovar-info-go{font-size:12px}
#zayav-tovar-spisok .unit:not(:hover) .zakaz-add:not(._busy){display:none}
#zayav-tovar-spisok .img_minidel{margin:2px 0 0 3px}
/* наличие товара */
.zayav-tovar-avai{
	color:#070;
	border:#C1EDC1 solid 1px;
	padding:1px 5px;
}






/* Статус заявки */
#zayav-status{padding-top:10px}
#zayav-status .label{width:150px;text-align:right}
#zayav-status #new-tab{
	display:none;
	background-color:#ffe;
	border-top:#fbfbda solid 1px;
	padding-top:10px;
}
#zayav-status #zs-tab{
	background-color:#ffd;
	border-top:#fafac9 solid 1px;
	padding:10px 0;
}
#zayav-status .current{
	display:inline-block;
	font-weight:bold;
	padding:5px 12px;
	border:#ddd solid 1px;
	color:#357;
}
#zayav-status .st{
	padding:5px 12px;
	font-weight:bold;
	border:#ddd solid 1px;
	color:#468;
	margin-bottom:10px;
}
#zayav-status .sp{cursor:pointer}
#zayav-status .sp:hover{border-color:#BBD}
#zayav-status .about{font-size:10px;color:#777;margin-top:3px}
#zayav-status #zs-comm{width:280px;height:30px}
#zayav-status .tr-remind{display:none}
#zayav-status #remind-txt{width:280px}


/* диалог заключения договора */
#_zayav-dog-tab h1{display:block;font-weight:bold;text-align:center;margin-bottom:3px;color:#444}


.dogovor_line{cursor:default}






/* Ссылка на заявку с подсказкой */
.zayav_link{position:relative;display:inline-block}
.zayav_link .tooltip{
	position:absolute;
	background-color:#fff;
	border:#ccc solid 1px;
	min-width:100px;
	min-height:75px;
	padding:5px;
	top:-91px;
	left:-10px;
	z-index:1000;
}
.zayav_link:not(:hover) .tooltip{display:none}
.zayav_link td{border:0;padding:0}
.zayav_link .image{max-width:100px;overflow:hidden}
.zayav_link .inf{white-space:nowrap;padding-left:5px;vertical-align:top}
.zayav_link .label{padding-right:3px}
.zayav_link .tstat{
	float:left;
	border:#DDD solid 1px;
	width:22px;
	height:22px;
	margin:2px 4px 0 0;
}
.zayav_link .tname{font-weight:700;margin-bottom:8px}
.zayav_link .bl{font-weight:700}
.zayav_link.color{display:inline-block;padding:2px 5px}
.zayav_link .deleted{color:#b77}

/* долг по заявке (в зп сотрудников) */
.zayav-dolg{font-size:10px;color:#a00;margin-left:7px;cursor:default}




/* Цветная кнопка статуса заявки  */
#zayav-status-button{
	display:inline-block;
	border:#DDD solid 1px;
	padding:4px 15px 5px;
	color:#777;
	min-width:150px;
	cursor:pointer;
}
#zayav-status-button:hover{border-color:#bbd; color:#444}
#zayav-status-button b.hd{font-size:12px;margin:0 4px}
#status-button-tab{border-spacing:4px;margin-top:8px}




/* Календарь заявок */
#zayav-srok-calendar .filter{
	width:100%;
	border:#eee solid 1px;
	background:#f7f7f7;
	margin-bottom:10px;
}
#zayav-srok-calendar .label{width:70px}
#zayav-srok-calendar #fc-head{width:100%}
#zayav-srok-calendar #fc-head td{padding:10px 30px}
#zayav-srok-calendar td.ch{
	width:60px;
	cursor:pointer;
	font-size:18px;
	font-weight:bold;
	color:#aaa;
}
#zayav-srok-calendar .ch:hover{background-color:#f7f7fd;color:#555}
#zayav-srok-calendar tt{
	margin:0 20px;
	font-size:15px;
	color:#aaa;
}
#zayav-srok-calendar #fc-head span{
	display:block;
	font-size:14px;
	text-align:center;
}
#zayav-srok-calendar #fc-head._busy span{visibility:hidden}
#zayav-srok-calendar #fc-mon{width:100%;border-collapse:collapse}
#zayav-srok-calendar #fc-mon td{border:#ddd solid 1px}
#zayav-srok-calendar #week-name td{
	font-weight:bold;
	background-color:#eee;
	color:#555;
	text-align:center;
	padding:10px;
}
#zayav-srok-calendar td.d{width:60px;height:60px;text-align:center}
#zayav-srok-calendar td.d.old{background-color:#f8f8f8;color:#888}
#zayav-srok-calendar td.d.sel{background-color:#ffb}
#zayav-srok-calendar td.d:not(.old):hover{cursor:pointer;background-color:#afa}
#zayav-srok-calendar td.d b{
	display:inline-block;
	padding:1px 5px;
	border:#cec solid 1px;
	background-color:#dfd;
	color:#080;
}
#zayav-srok-calendar #fc-cancel{
	border:#cec solid 1px;
	padding:10px;
	text-align:center;
	font-size:12px;
	margin-top:10px;
	cursor:pointer;
	color:#555;
}
#zayav-srok-calendar #fc-cancel:hover{background-color:#afa}
#zayav-srok-calendar .fc-old-sel:hover{cursor:pointer;text-decoration:underline}













/* расходы по заявке в информации о заявке */
#_zayav-expense{margin-top:10px}
#_zayav-expense h1{
	border-left:#e9edf1 solid 1px;
	border-right:#e9edf1 solid 1px;
	border-bottom:#e9edf1 solid 1px;
	padding:5px 7px;
}
#_zayav-expense table{
	width:100%;
	margin-top:-1px;
	border-collapse:collapse;
}
#_zayav-expense .l:hover{background-color:#ffffe8}
#_zayav-expense .list{background-color:#f5f5f5}
#_zayav-expense td{border:#dee4e8 solid 1px;padding:2px 4px;line-height:13px}
#_zayav-expense .name{width:70px;font-size:10px}
#_zayav-expense .sum {
	width:50px;
	text-align:right;
	cursor:default;
	position:relative;
	white-space:nowrap;
}
#_zayav-expense .sum{font:11px arial}
#_zayav-expense .sum b{font:bold 11px arial}
#_zayav-expense .sum.paid{background:#bfc;color:#070}
#_zayav-expense .count{
	text-align:right;
	color:#292;
	width:30px;
	white-space:nowrap;
}
#_zayav-expense em{font-size:10px;white-space:nowrap}
#_zayav-expense tr:not(.list):hover :not(.paid) em{color:#ddd}
#_zayav-expense .img_del{position:absolute;right:1px}
#_zayav-expense tr:not(:hover) .img_del{display:none}
#_zayav-expense .plus{background-color:#dfd;color:#272}
#_zayav-expense .minus{background-color:#fdd;color:#922}

/* список расходов в диалоговом окне */
#ze-prev{width:100%;border-collapse:collapse;margin-bottom:20px}
#ze-prev *{font-size:10px}
#ze-prev tr:not(.l){display:none}
#ze-prev tr.inserted{background:#ffc}
#ze-prev td{border:#dee4e8 solid 1px;padding:2px 4px}
#ze-prev .name{width:70px}
#ze-prev .count{
	text-align:right;
	color:#292;
	width:30px;
	white-space:nowrap;
}
#ze-prev .sum {width:60px;text-align:right;cursor:default;position:relative}
#ze-prev .img_del{display:none}

#ze-count-max{color:#999;margin-left:8px}




/* Файлы-счета на оплату в расходах по завке */
#ze-attach-schet tr .to-pay{color:#c44;font-weight:bold}
#ze-attach-schet tr:not(:hover) .to-pay{visibility:hidden}
#ze-attach-schet .paid{
	background:#dfe;
	color:#383;
	cursor:default;
}
#ze-attach-schet em{background:#ffc;border-bottom:1px solid #FE2}

#no_pay_check{margin-top:12px}


/* Диалог формирования квитанции */
.zayav-print .label{width:90px}
.zayav-print i{font:11px Arial;color:#999}
.zayav-print textarea{width:220px;height:40px}
.zayav-print #preview{display:block;padding:10px;text-align:center}
.zayav-print #preview._busy span{visibility:hidden}
.zayav-print #preview:hover{background-color:#e9edf1;text-decoration:none}







/* Местонахождение устройства: поле Другое */
#place-other-div{display:inline-block;position:relative}
#place_other{width:120px;position:absolute;top:-3px;left:45px}























/* Отчёты по заявкам */
#zayav-report{min-height:600px}
#zayav-report #filter{
	padding:10px;
	background:#f7f7f7;
	border-bottom:#dae1e8 solid 1px;
}

#zayav-report #status-count{margin:10px}
#zayav-report .cub{
	display:inline-block;
	border:#dae1e8 solid 1px;
	padding:12px 0;
	min-width:40px;
	text-align:center;
	font-weight:bold;
	font-size:12px;
	margin-left:1px;
	cursor:default;
}
#zayav-report .cub.all{
	padding:12px 8px;
	white-space:nowrap;
	font-weight:normal;
}
#zayav-report .cub b{font-size:12px}
	/* исполнители */
#zayav-report #executer-count{margin:10px 10px 20px}
#zayav-report #executer-count .headName{margin:15px 0 10px}
#zayav-report #executer-count ._spisok{width:auto}
#zayav-report #executer-count ._info{float:right;width:230px}

#zayav-report #spisok{margin:10px 0}
#zayav-report .unit:hover{background:#ffd}
#zayav-report .dtime{width:30px}
#zayav-report .nomer{width:35px}
#zayav-report .name{width:120px}
#zayav-report .dog{width:35px}
#zayav-report .adres{width:120px}
#zayav-report .executer{width:110px}
#zayav-report .executer a{font-size:10px}
#zayav-report .sum-cost{width:50px;font-weight:bold}
#zayav-report .sum-accrual{width:50px;font-weight:bold;color:#07a}
#zayav-report .sum-pay{width:50px;font-weight:bold;color:#090}
#zayav-report .sum-dolg{width:50px;font-weight:bold;color:#090}
#zayav-report .sum-dolg.minus{color:#c33}
#zayav-report .sum-expense{width:40px}
#zayav-report .sum-profit{width:40px;color:#090}
#zayav-report .sum-profit.minus{font-weight:bold;background:#fbb;color:#b00}

#zayav-report .cols-div{margin:10px 15px;position:relative}
#zayav-report .cols-div a{z-index:101}
#zayav-report .cols-div:not(.show) #sp{display:none}
#zayav-report .cols-div #sp{
	position:absolute;
	width:170px;
	border:#ddd solid 1px;
	background:#f7f7f7;
	padding:7px 9px 10px;
	left:-10px;
	top:-8px;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	z-index:100;
}
#zayav-report .cols-div #sp a{display:inline-block;margin-bottom:10px}
#zayav-report .cols-div ._check{margin:5px 10px}






/* График заявок в главном меню */
#zayav-chart-container .highcharts-xaxis-labels tspan{font-size:12px}





