#devstory-footer{
	background:#F7F7F7;
	border-top:#e8e8e8 solid 1px;
	padding:3px 5px;
}
#devstory-footer .grey{margin-left:7px}
#devstory-footer .setup-my{margin-left:80px}
#devstory-footer .dev-page{
	float:right;
	color:#999;
}


/* Главная страница */
#devstory{min-height:400px}
#devstory #part-spisok{margin:10px}
#devstory .part-u{border-spacing:2px}
#devstory .part-u .name{font:bold 15px tahoma}
#devstory .part-u td{padding:15px;background:#eff1ff}
#devstory .part-u .ed{width:20px;white-space:nowrap}

#devstory .task-u{
	border:#eee solid 1px;
	border-radius:4px;
	border-right:#ddd solid 1px;
	border-bottom:#ddd solid 1px;
	margin:15px 10px;
}
#devstory .task-u .pp{
	padding:6px;
	background:#f5f5f5;
	color:#555;
	font-size:12px;
}
#devstory .task-u .pp b{font-size:12px}
#devstory .task-u .dtime{float:right;color:#888;font-size:10px}
#devstory .task-u .img_edit{float:right;margin-left:10px}
#devstory .task-u .name{
	font-size:15px;
	margin:8px;
	font-weight:bold;
}
#devstory .task-u .about{margin:8px}
#devstory .task-u .word{
	display:inline-block;
	margin:0 5px;
	padding:3px 8px;
	border:#cdd solid 1px;
	background:#eff;
	color:#555;
}

/* затраченное время по дням в графическом формате */
#devstory .task-u .spent{position:relative}
#devstory .task-u .spent .head{position:relative;z-index:11}
#devstory .task-u .spent:not(:hover) .period{display:none}
#devstory .task-u .period{
	position:absolute;
	right:5px;
	top:-5px;
	width:530px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	background:#ffe;
	padding:55px 10px 10px;
	z-index:10;
}
#devstory .task-u .period-hour td{
	width:19px;
	text-align:center;
	font-size:10px;
	color:#999;
}
#devstory .task-u .period-hour .line{
	border-bottom:#ccc solid 1px;
	border-right:#ccc solid 1px;
	height:4px;
}
#devstory .task-u .period-hour .line.first{width:18px;border-left:#ccc solid 1px}
#devstory .task-u .graf{
	display:inline-block;
	height:20px;
	border:#ddd;
	background:#f1f1f1;
}
#devstory .task-u .active{background:#aea;cursor:pointer}
#devstory .task-u .active:hover{background:#9d9}

#devstory .td-status{border-left:#eee solid 1px}
#devstory .task-u .st{font-size:15px;margin:8px 0 10px}
/* статус: в процессе */
#devstory .status1 .pp{background:#ccf}
#devstory .status1 .td-status{background:#eef}
#devstory .status1 .st{color:#33a}
/* статус: пауза */
#devstory .status2 .pp{background:#f5f5d5}
#devstory .status2 .td-status{background:#ffd}
#devstory .status2 .st{color:#883}
/* статус: выполнено */
#devstory .status3 .pp{background:#d5f5d5}
#devstory .status3 .td-status{background:#dfd}
#devstory .status3 .st{color:#383}
/* статус: отменено */
#devstory .status4{opacity:.4;background:#eee}
#devstory .status4 .pp{background:#d9d9d9}

#devstory .st-action{
	display:block;
	padding:8px;
	text-align:center;
	text-decoration:none;
	margin:5px;
}
#devstory .st-action:hover{background:#e9edf1}











