#setup .headName{margin:0 0 15px}
#setup .right{padding:0;width:200px;border-left:0}
#setup .rightLink a.sel{border-color:#6B8EB5}
#setup ._spisok{margin-bottom:1px}

#setup-tab{border-spacing:10px}
#setup-tab .label{text-align:right}
#setup-tab #name{width:210px}
#setup-tab textarea{width:210px;height:50px}

#setup_my #pinset{margin-left:150px}
#setup_my #pinchange{margin:0 10px 0 80px}
#setup_my #dop{margin-top:30px}


/* Сотрудники */
#setup_worker .unit{
	border:#DDE solid 1px;
	width:380px;
	margin:6px 0 6px 20px;
}


/* div поиска пользователя ВКонтакте */
#setup-vk-find .headName{margin:10px 0 5px}
#setup-vk-find #msg{padding:5px 0 0 7px;min-width:100px}
#setup-vk-find #msg span{color:red}
#setup-vk-find #msg._busy{background-position:center 15px}
#setup-vk-find #vkuser td{
	vertical-align:top;
	font-weight:bold;
	color:#45688e;
}



#setup_rule{padding-bottom:30px}
#setup_rule .icon-edit{margin-left:30px}
#setup_rule .headName{margin:20px 10px 10px}
#setup_rule #pin-clear{margin-left:116px}
#setup_rule .rtab{border-spacing:8px 12px}
#setup_rule .lab{width:100px;text-align:right}
#RULE_SALARY_BONUS_check{margin-bottom:-3px}
#setup_rule #salary_bonus_sum{
	width:30px;
	margin:0 3px 0 5px;
	text-align:right;
	position:relative;
}



/* Разделы меню */
#setup_rule #td-rule-menu div{display:block;margin-bottom:5px;color:#555}

#RULE_APP_ENTER_check{margin:5px 0 10px 166px}
#setup_rule #div-app-enter .label{width:150px;text-align:right}
#setup_rule #td-rule-setup div{display:block;margin-bottom:5px;color:#555}




/* Данные организации */
#setup_org table.t{border-spacing:15px}
#setup_org table.bank{
	border:#DDE4E9 solid 1px;
	background:#F0F6FC;
	margin-bottom:10px;
}



/* Виды деятельности */
#setup-service .unit{
	border:#ddd solid 1px;
	padding:10px 20px;
	margin-bottom:20px;
	background-color:#dfd;
}
#setup-service .unit h1{
	color:#222;
	font:bold 14px Verdana;
	text-decoration:underline;
	margin-bottom:5px;
}
#setup-service .img_edit{float:right}
#setup-service .unit:not(:hover) .img_edit{display:none}
#setup-service .unit h2{color:#444;font-size:12px}
#setup-service .unit ul{margin:5px 0 0 30px}
#setup-service .unit h1._busy{background-position:right center}

#setup-service-edit{border-spacing:10px}
#setup-service-edit input{width:400px}
#setup-service-edit textarea{width:400px}


/* Категории расходов */
#setup_expense{min-height:600px}
#setup_expense .td-name{cursor:move}
#setup_expense .about{
	margin:3px 0 0 20px;
	color:#777;
	font-size:11px;
}
#setup_expense em{
	color:#999;
	font-size:10px;
	margin-left:4px;
	cursor:default;
}
#setup_expense .ed{width:35px}

#setup_expense_sub{min-height:600px}
#setup_expense_sub .headName{margin-top:10px}
#setup_expense_sub #cat-name{font:bold 14px Tahoma}
#setup_expense_sub #spisok{margin-top:10px}
#setup_expense_sub .count{width:65px;text-align:center}
#setup_expense_sub em{
	color:#999;
	font-size:10px;
	margin-left:4px;
	cursor:default;
}


/* Статусы заявок */
#setup_zayav_status #status-spisok{margin-bottom:30px}
#setup_zayav_status ._spisok{margin-top:2px}
#setup_zayav_status td.name{cursor:move}
#setup_zayav_status .name span{font-size:12px}
#setup_zayav_status .b span{font-weight:bold}
#setup_zayav_status .about{
	color:#777;
	font-size:10px;
	margin:3px 0 5px 15px;
	white-space:pre-line;
}
#setup_zayav_status .dop{
	text-align:right;
	font-size:10px;
	color:#b33;
	margin-top:2px
}
#setup_zayav_status .ed{width:35px}

.setup-status-tab .label{width:150px;text-align:right}
.setup-status-tab #name{width:250px}
.setup-status-tab #about{width:250px}
.setup-status-tab #color{
	display:inline-block;
	width:255px;
	height:50px;
	border:#ddd solid 1px;
	cursor:pointer;
}

#setup-status-color-tab .bg{
	display:inline-block;
	width:56px;
	height:56px;
	margin:3px;
	border:#ddd solid 1px;
	cursor:pointer;
	text-align:center;
}


/* Расходы по заявкам */
#setup_zayav_expense .name{width:130px}
#setup_zayav_expense td.name{cursor:move}
#setup_zayav_expense .dop{width:150px}
#setup_zayav_expense .param-info{font-size:10px;color:#2a2}
#setup_zayav_expense .use{width:55px;text-align:center}
#setup_zayav_expense .ed{width:35px}







#setup-cartridge .type{font-weight:bold;margin-bottom:5px}
#setup-cartridge ._spisok{margin-bottom:20px}
#setup-cartridge .edited{background-color:#ffa}
#setup-cartridge .n{width:16px;text-align:right}
#setup-cartridge .name{width:185px}
#setup-cartridge .cost span{cursor:default}
#setup-cartridge .count{text-align:center}








/* Категории товаров */
#setup_tovar_category #but{width:100%}
#setup_tovar_category #spisok{margin-top:20px}
#setup_tovar_category td.name{cursor:move}
#setup_tovar_category .ed{width:35px}

#setup_tovar_category_join .tovar{width:50px;text-align:right}







/* Рубрики объявлений */
#setup_rubric .name{width:150px}
#setup_rubric td.name{cursor:move}
#setup_rubric .sub{width:75px;text-align:center}
#setup_rubric .zayav{width:75px;text-align:center}
#setup_rubric .ed{width:35px}

#setup_rubric_sub .headName{margin-top:10px}
#setup_rubric_sub td.name{cursor:move}
#setup_rubric_sub .zayav{width:75px;text-align:center}
#setup_rubric_sub .ed{width:35px}




/* Стоиомость кв.см. рекламы */
#setup_polosa .name{width:170px}
#setup_polosa .cena{width:80px}
#setup_polosa .pn{width:70px}






/* Стоиомость длины объявления */
#setup_oblen table{border-spacing:5px 12px;margin:30px 0 0 50px}
#setup_oblen td{text-align:right}
#setup_oblen input{width:30px;text-align:right}
#setup_oblen .vk{margin:10px 0 0 150px}





/* Номера газет */
#setup_gn .headName{margin-bottom:0}
#setup_gn #dopLinks{margin-bottom:10px}
#setup_gn .vk{margin:20px 0 0 150px}
#setup_gn ._spisok{width:100%}
#setup_gn .grey *{color:#999}
#setup_gn .pc{text-align:center}
#setup_gn .edit{background-color:#ffa}
#setup_gn s{display:none}
#setup_gn #gn-clear{
	display:block;
	color:#e33;
	text-align:right;
	margin-bottom:8px;
}
.setup-gn-tab #week_nomer{width:15px;text-align:right;margin-right:6px}
.setup-gn-tab #general_nomer{width:30px;text-align:right}
.setup-gn-tab .gn-info{
	border:#ddd solid 1px;
	padding:6px 10px;
	background-color:#ffe;
	text-align:justify;
	margin-bottom:10px;
}







/* Шаблоны документов */
#setup_document_template .vk.small{margin-top:-3px}
#setup_document_template .unit{margin-left:10px}

#setup_document_template_info .headName{margin:10px 0 5px}
#setup_document_template_info .var{font-weight:bold;width:150px}