/* Внесение/редактирование клиента */
.client-edit_dialog #dopLinks{padding:20px 10px}
.client-edit_dialog .tabs{padding:10px 0}
.client-edit_dialog .label{width:150px}
.client-edit_dialog span.label{color:#777;margin:0 8px 0 28px}
.client-edit_dialog textarea{height:27px}




.person-add_dialog .headName{margin:5px 0 10px}
.person-add_dialog .label{width:80px}
.person-add_dialog span.label{color:#777;margin:0 8px 0 28px}



/* Список клиентов */
#client #find-tab{
	background-color:#F7F7F7;
	border-spacing:9px;
	border-bottom:#dae1e8 solid 1px;
	width:100%;
}
#client #find-tab .vk{width:135px}
#client .result.busy{background-position:585px center}
#client .result em{color:#999;margin-left:10px;font-size:10px;cursor:default}
#client .result em span,
#client .result em b{margin-left:10px;font-size:10px}
#client #dolg-sum{color:#922;font-size:10px}
#client ._radio{margin-bottom:30px}
#client ._check{margin-bottom:10px}
#client .left{padding-bottom:10px}
#client .unit{margin:5px 10px 0 10px;border-bottom:#dae1e8 solid 1px;padding:5px}
#client .g-tab{width:100%}
#client .l-tab{border-spacing:2px;width:340px}
#client .r-td{vertical-align:top;text-align:right}
#client .label{width:75px}
#client .z-count{
	display:inline-block;
	font-weight:bold;
	padding:3px 7px;
	color:#555;
	cursor:default;
}
#client .z-count:hover{text-decoration:none}
#client .z-count.link{cursor:pointer}
#client .balans{font-weight:bold;margin-top:2px;cursor:default}
#client .post{margin-left:4px;font-size:10px;color:#777}
#client .unit em{background-color:#FFC;border-bottom:#FE2 solid 1px}
#client .unit .post em{font-size:10px}
#client ._next{margin:0 10px}
#client ._empty{margin:10px}

/* Текущая сумма долга клиентов - показывается в верхнем правом углу на всех страницах */
#client-dolg-sum{
	float:right;
	color:#777;
	margin-top:5px;
	cursor:default;
}
#client-dolg-sum b{color:#a22}


/* Информация о клиенте */
#client-info .left{padding-bottom:10px}
#client-info #client-del{color:#e00}
#client-info #ci-cat{color:#999;margin:10px 0 0 20px}
#client-info #ci-name{
	color:#31618C;
	font-size:12px;
	font-weight:bold;
	margin:3px 5px 5px 20px;
}
#client-info .ci-balans{
	float:right;
	margin:22px 8px 0 0;
	font-size:12px;
	font-weight:bold;
	background-color:#ffa;
	border:#e8e8aa solid 1px;
	padding:3px 8px;
}
#client-info #ci-tab{border-spacing:6px 7px;margin:0 10px 0 26px}

#client-info #pasp-tab{border-spacing:2px 0}
#client-info #pasp-tab .label{width:85px}

#ci-to-person{margin:5px 5px 0 32px}

#client-info #ci-person{margin:15px 0 0 20px}
#client-info #ci-person h1{color:#31618C;margin:0 35px 5px 0}
#client-info #ci-person h1 a{float:right}
#client-info #ci-person table{width:400px;margin-left:10px}
#client-info #ci-person .n{width:15px;text-align:right;color:#777}
#client-info #ci-person .adres{font-size:10px}
#client-info #ci-person .adres tt{font-size:10px;color:#777}
#client-info #ci-person .poa{
	padding:2px 5px;
	margin-top:3px;
	font-size:10px;
	color:#080;
	background:#dfd;
	line-height:1.5;
}
#client-info #ci-person .poa.lost{color:#700;background:#fee}
#client-info #ci-person .poa b{font-size:10px}
#client-info #ci-person .poa u{font-size:10px}

#client-info .post{margin-left:4px;font-size:10px;color:#777}
#client-info .added{
	font-size:10px;
	color:#999;
	text-align:right;
	margin:20px 10px 0 0;
}
#client-info .added u{font-size:10px}

#client-info .right{width:140px;height:auto}
#client-info #dopLinks{border-top:#dae1e8 solid 1px}
#client-info #dopLinks a{font-weight:normal}
#client-info #dopLinks._busy{background-position:585px center}
#client-info .ci-cont{display:none}
#client-info ._empty{margin:10px}
#client-info .ci-right{display:none}

#client-info #zayav-spisok ._next{margin:6px 8px 0}
#zayav-type-id_radio{margin-top:10px}
#client-info #accrual-spisok{margin:10px}
#client-info #accrual-spisok ._spisok{margin-top:5px}
#client-info #income-spisok{margin:10px}
#client-info #income-spisok ._spisok{margin-top:5px}
#client-info #_remind-spisok{margin:10px}
#client-info #history-spisok .result{font-weight:normal}
#client-info #history-right{padding-bottom:180px}



#client-poa .left{padding:10px}
#client-poa .headName{margin:5px 0}

.client-poa-unit{
	margin:10px 0;
	padding:7px 12px;
	background:#dfd;
}
.client-poa-unit.lost{background:#fee}
.client-poa-unit .name{font-size:12px}
.client-poa-unit .tab{border-spacing:3px;margin-left:8px}
.client-poa-unit .label{text-align:right}
.client-poa-unit .fio{color:#555;font-weight:bold}




#client-from{margin:10px;min-height:400px}
#client-from .headName{margin:0}
#client-from ._spisok{width:400px;margin-top:10px}
#client-from .name{width:220px}
#client-from #cf-setup{margin-top:10px}
