#kupezz-ob .left{padding:0 10px}
#kupezz-ob .td-find{background-color:#f7f7f7;border-bottom:#dae1e8 solid 1px}
#kupezz-ob ._empty{margin-top:10px}
#kupezz-ob .my{float:right}

#kupezz-ob .region{margin-top:0}
#kupezz-ob .region._busy{background-position:right center;color:#555}

#kupezz-ob .rightLink b{float:right;color:#999}
#kupezz-ob .rightLink .sel b{color:#ccc}
#kupezz-ob #city_id_select{margin-top:4px}
#kupezz-ob #withfoto_check{margin-top:4px}
#kupezz-ob #nokupez_check{margin-top:15px}
#kupezz-ob ._next{margin-bottom:10px}



.ob-unit{padding:7px 0 5px;border-bottom:#DFE7EF solid 1px}
.ob-unit.preview{margin:0 30px}
.ob-unit:not(.preview):hover{background:#F3F7FB;cursor:pointer}
.ob-unit .utab{width:100%;border-spacing:3px}
.ob-unit .txt{font-size:12px;vertical-align:top;text-align:justify}
.ob-unit .txt .dop{font-size:12px}
.ob-unit .txt em{font-size:12px;background-color:#e1e7ed}
.ob-unit .full{
	display:block;
	width:100px;
	white-space:nowrap;
	margin-top:2px;
	color:#91A4B8;
	font-weight:bold;
}
.ob-unit .full:hover{color:#45688E;text-decoration:none}
.ob-unit .rub,.ob-unit .rubsub{font-size:12px;color:#282;font-weight:bold}
.ob-unit u{text-decoration:none;font-size:12px;margin:0 3px}
.ob-unit .tel,#_post .tel{
	background-image:url("data:image/gif;base64,R0lGODlhEwALAOYAAAAAAP///66Ym6igpJ2Um/Tz9J+co8XBy66rs7q5vMTDxsnIzLu5wnx7hGhncmlpdGVlb2lpcoODjIyMlbm5vrW1udra3c7O0O7u7+jo6dfX2GxteGhpcmprc3d4gKyttLO0u66vtb/AxYaIkKGjrJyeps/Q1MbHy8XGytbX22xudZqco5+hqJ6gp6mrsoCDi4mLkZ+hp6qsssjJzL2+wbO0t9fY25mboKSmq2lsc5ufqK+yucnLz7e4uqipq7/AwpOYoaqtsr7Aw9TW2Z6hpaGlqpedo7G2u8PFx+Pk5eLj5N/g4d3e387P0MnKy6OorNDT1dTX2dPW2KyxtNHa3snMzcLHyLS4uLS3t6+yssjLy+/x8fP09O7v7+zt7fH08vD08fL08u/x7+zt7Ojp5dDHwtapme7u7s3NzcnJyf///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAGoALAAAAAATAAsAAAdQgGqCTIRphodphEyCglJSiJCIjmqPiIqXkJWGhZGckEyIGaKWh2qbhxlpqamnaYyChqujrK+Moaq4pbU0oaOHNLVqWDS8kcRYwcJYy8zNr4EAOw==");
	background-color:transparent;
	background-repeat:no-repeat;
	background-position:0 3px;
	padding-left:24px;
	margin-top:3px;
	color:#606060;
	font:bold 14px Times New Roman;
}
.ob-unit img{float:right;margin:0 0 5px 8px}
.ob-unit .adres{color:#bbb;padding-bottom:3px}
.ob-unit .adres a{float:right;margin-right:10px}
.ob-unit .edit{
	font-size:10px;
	color:#555;
	padding:2px 2px 2px 7px;
	background-color:#dfd;
}
.ob-unit.archive .edit{background-color:#e7e7e7}
.ob-unit .last{
	display:inline-block;
	margin:5px 10px 4px;
	font-size:10px;
	font-weight:bold;
	color:#0a0;
}
.ob-unit.archive .last{color:#777}
.ob-unit.deleted .edit{background-color:#733;color:#aaa}
.ob-unit.deleted .last{color:#c55}
.ob-unit:not(:hover) .icon{display:none}
.ob-unit .icon{
	float:right;
	display:inline-block;
	background-color:#fff;
	padding:3px 4px;
	border:#ddd solid 1px
}
.ob-unit.edited{background-color:#ffffe2}






/* Правила размещения объявления */
#ob-create-rules ul{margin:10px 0 20px 25px}
#ob-create-rules li{margin-bottom:5px}










/* Просмотр объявления */
#_post{
	position:absolute;
	z-index:300;
	top:100px;
	left:40px;
	width:540px;
	box-shadow:0 0 40px rgba(0,0,0,0.6);
}
#_post .head{background-color:#eee;padding:0 5px;}
#_post .head table{width:100%;border-spacing:12px}
#_post .head td{vertical-align:top}
#_post .im{width:50px;padding-left:5px}
#_post .uname{
	display:inline-block;
	margin:5px 0;
	font-size:14px;
	font-weight:bold;
	color:#000;
}
#_post .dtime{font-size:12px;color:#777}
#_post .close{float:right}
#_post .psa{padding:5px 14px 5px 18px;background-color:#ffd}
#_post .psa .ed{float:right}
#_post .psa .ed a{position:relative;top:-1px;left:-10px;color:#888}
#_post .psa .img_edit{margin-bottom:-2px}

#_post .pcont{background-color:#fff;padding:14px 18px}
#_post .txt{font:16px georgia;text-align:justify}
#_post .images{margin-top:7px;text-align:center}
#_post .images img{margin:3px}
#_post .rub{font-size:14px;font-weight:bold;color:#282;margin-bottom:7px}
#_post .rub em{font-size:14px;color:#444;margin:0 7px}
#_post .tel{margin-top:10px}
#_post .city{color:#bbb;margin-top:2px}
#_post .meter{margin-top:10px;padding-top:5px;border-top:#eee solid 1px}

#_post .foot{background-color:#eef0f2;padding:18px}
#_post #inp{padding:5px;width:492px}
#_post .foot td{vertical-align:top}
#_post .photo{padding-right:10px}
#_post textarea{width:436px;height:41px}
#_post .send{padding-top:10px}
#_post .foot ._check{margin-left:15px}
#_post .msg-un{
	margin-bottom:7px;
	padding-bottom:7px;
	border-bottom:#F6F8FA solid 1px
}
#_post .msg .dt{color:#999;margin-top:4px}
#_post .ms-photo{width:40px}
#_post .ms-photo img{width:30px}
#_post .ms-user{margin-bottom:3px}










