/* кнопка для манипуляций с товарами */
#but-tovar-selected{margin-top:-4px}


/* Единица в списке товаров */
.tovar-unit-check{
	position:absolute;
	right:0;
	bottom:-5px;
	padding:7px;
	background:#f8f8c0;
	border-radius:2px;
	box-shadow: 0 0 5px rgba(0,0,0,0.6);
	opacity:.5;
	z-index:10;
}
.tovar-unit-check:hover{opacity:1}
.tovar-unit-check.selected{opacity:1}
.tovar-unit:not(:hover) .tovar-unit-check:not(.selected){display:none}
.tovar-unit:not(:hover) .icon-del{display:none}
/* наличие */
.tovar-unit-avai{
	display:inline-block;
	color:#070;
	background:#dfd;
	border-top:#C1EDC1 solid 2px;
	padding:2px 5px;
	margin-left:10px;
	white-space:nowrap;
}
.tovar-unit-zakaz{
	display:inline-block;
	color:#a55;
	background:#fee;
	border-top:#edd solid 2px;
	padding:2px 5px;
	margin-left:10px;
	white-space:nowrap;
}
/* цена продажи */
.tovar-unit-sell{
	float:right;
	color:#555;
	font-weight:bold;
	font-size:16px;
	margin-right:5px;
	margin-top:3px;
	white-space:nowrap;
}















/* Информация о товаре */
#tovar-info #tab{margin:8px;width:100%}
#tovar-info #ti-left{width:200px;vertical-align:top}
#tovar-info #ti-foto{text-align:center}

#tovar-info #ti-link .icon{margin-bottom:-5px}
#tovar-info #ti-link a{padding:8px}
#tovar-info #ti-link a:hover{text-decoration:none;background:#e9edf1}

#tovar-info #ti-right{vertical-align:top;padding:0 15px 0 10px}
#tovar-info #ti-compat{
	margin-top:10px;
	background:#cdf;
	padding:7px;
}
#tovar-info #ti-zayav{
	margin-top:10px;
	background:#def;
	padding:7px;
}
#tovar-info #ti-move{margin:8px}
#tovar-info #ti-move .minus{background:#fff2f2}
#tovar-info #ti-move .plus{background:#efe}
#tovar-info #ti-move .off{background:#eee}
/* Движение товара */
#tovar-info .year-empty{
	border:#eee solid 1px;
	padding:2px 13px;
	margin-top:10px;
	font:16px arial;
	background:#f7f7f7;
	color:#aaa;
}
#tovar-info .year-tab{
	border-top:#BBD5ED solid 4px;
	background:#D2E5F7;
	margin-top:10px;
	cursor:pointer;
}
#tovar-info .year-tab:hover{border-top:#B6CFE7 solid 4px;background:#C5DBF0}
#tovar-info .year-tab .y{
	font:bold 16px arial;
	padding:7px 15px 6px;
	width:40px;
}
#tovar-info .year-tab em{
	display:inline-block;
	width:45px;
	padding:2px 4px;
	text-align:right;
	border:#BFD9F2 solid 1px;
	color:#555;
}
#tovar-info .prihod em{background:#efe}
#tovar-info .rashod em{background:#fff2f2}





/* Количество, закупка, продажа */
#avai-cost td.ac{
	width:126px;
	height:44px;
	padding:4px;
	vertical-align:top;
}

#avai-cost tt{display:block;font-size:14px}
#avai-cost tt b{font:bold 17px tahoma}

#avai-cost td.avai{
	position:relative;
	background:#BCFFBC;
	border-top:#ADEBAD solid 4px;
}
#avai-cost td.avai tt{color:#080}
#avai-cost td.avai.no{background:#ddd;border-top:#aaa solid 4px}
#avai-cost td.avai.no tt{color:#555}

#avai-cost #avai-show{
	display:none;
	position:absolute;
	width:500px;
	padding:6px;
	background:#BCFFBC;
	left:0;
	top:52px;
	box-shadow: 0 7px 12px rgba(0,0,0,0.3);
	z-index:10;
}
#avai-cost td.avai:not(.no):hover{box-shadow: 0 0 15px rgba(0,0,0,0.3)}
#avai-cost td.avai:not(.no):hover #avai-show{display:block}




#avai-cost td.buy{background:#FEFFBB;border-top:#E5E69B solid 4px}
#avai-cost td.buy tt{color:#660}

#avai-cost td.sell{background:#f9f9f9;border-top:#ddd solid 4px}
#avai-cost td.sell tt{color:#333}




/* меню редактирования товара */
.tovar-menu-dot{
	background-color:#E5EBF1;
	padding:5px 7px 4px 8px;
	margin-top:-15px;
	border-radius:2px;
	border:#DAE4EE solid 1px;
	cursor:pointer;
	position:relative;
	min-height:18px;
}
.tovar-menu-dot:hover{background-color:#DFE6ED}

.tovar-menu{
	right:0;
	top:-15px;
	background-color:#DCE1E6;
	border:#C5D0DB solid 1px;
	border-radius:2px;
}
.tovar-menu h1{
	padding:5px 7px 6px 13px;
	border-bottom:#C5D0DB solid 1px;
}
.tovar-menu dd{
	color:#53789D;
	background-color:#fff;
	padding:8px 10px;
}
.tovar-menu dd .icon{margin-right:4px}
.tovar-menu dd:hover{background-color:#E7EDF2}






