.sa-tab{border-spacing:10px}
.sa-tab .label{text-align:right}
.sa-tab #name{width:250px}
.sa-tab textarea{width:250px}
.sa-tab ._info{white-space:pre-line}

#sa-index{padding:15px 0 100px 20px}
#sa-index h1{font-weight:bold}
#sa-index a{display:block;margin-left:20px}



/* Разделы меню */
#sa-menu #spisok{margin:10px 20px 40px}
#sa-menu #setup-spisok{margin:10px 20px 30px}
#sa-menu ._spisok{margin-bottom:1px}
#sa-menu ._spisok.nouse{background:#f5f5f5}
#sa-menu .edited{background:#ffb}
#sa-menu dl .name{cursor:move}
#sa-menu .about{color:#888;font-size:10px}
#sa-menu .p{width:110px}
#sa-menu .access{width:50px;text-align:center}
#sa-menu .show{width:50px;text-align:center}


/* история действий */
#sa-history .headName span{float:right;margin:0 5px}
#sa-history textarea{border:0}

#sa-history-cat #spisok{margin:20px}
#sa-history-cat ._spisok{margin-top:1px}
#sa-history-cat .name{width:300px;cursor:move}
#sa-history-cat .about{color:#777;margin-left:10px}
#sa-history-cat .js{width:40px;text-align:center}
#sa-history-cat .set{width:40px;text-align:center}



/* права сотрудников */
#sa-rule-tab #key{width:250px;font-weight:bold}
#sa-rule-tab textarea{width:250px}
#sa-rule #spisok{margin:20px}
#sa-rule .key{width:320px}
#sa-rule .about{color:#777;margin-left:10px;white-space:pre-line}
#sa-rule .admin{text-align:center}
#sa-rule .worker{text-align:center}
#sa-rule input{
	width:30px;
	text-align:center;
	font-weight:bold;
	color:#090;
}
#sa-rule ._busy input{visibility:hidden}




/* балансы */
#sa-balans #spisok{margin:0 20px 20px}
#sa-balans .head .img_add,
#sa-balans .head .img_edit,
#sa-balans .head .img_del{float:right}
#sa-balans ._spisok{width:350px;margin:15px 0 0 30px}
#sa-balans .id{text-align:right;color:#555;width:25px}
#sa-balans .name{color:#2a2}
#sa-balans .minus{color:#d33}
#sa-balans .count{width:30px;text-align:center}




/* клиенты */
#sa-client{margin:10px 20px}
#sa-client .headName{margin:0 0 10px}
#sa-client a{display:block}

#sa-client-pole .headName{margin:10px}
#sa-client-pole #spisok{margin:10px 10px 30px}
#sa-client-pole .sel{cursor:pointer}
#sa-client-pole .sel:hover{background:#ffa}
#sa-client-pole td{vertical-align:top}
#sa-client-pole .id{text-align:right;color:#777}
#sa-client-pole .name{width:180px;font-weight:bold}
#sa-client-pole .about{font-size:10px;color:#888;white-space:pre-line}
#sa-client-pole .param{font-size:10px;color:red;margin-top:5px;font-weight:bold}
#sa-client-pole .use{text-align:center;width:40px}
#sa-client-pole .ed{padding-top:4px}


#sa-client-category{margin:10px 10px 50px}
#sa-client-category .headName{margin:0 0 10px}
#sa-client-category .edit{margin-right:10px;color:red}
#sa-client-category .hd{
	font:22px Verdana;
	margin:10px 0 1px;
	padding:6px 10px;
	background:#ded;
	color:#282;
}
#sa-client-category .hd button{float:right;margin:4px 0 0 8px}
#sa-client-category ._sort{margin-bottom:40px}
#sa-client-category .show{background:#ffc}
#sa-client-category .name{font-weight:bold}
#sa-client-category .label{font-weight:bold;color:#999;margin-bottom:3px}
#sa-client-category .about{font-size:10px;color:#888;white-space:pre-line}
#sa-client-category .ed{width:35px}





/* заявки */
#sa-zayav{margin:10px 20px}
#sa-zayav .headName{margin:0 0 10px}
#sa-zayav a{display:block}

#sa-zayav-pole .headName{margin:10px}
#sa-zayav-pole #spisok{margin:10px 10px 30px}
#sa-zayav-pole .sel{cursor:pointer}
#sa-zayav-pole .sel:hover{background:#ffa}
#sa-zayav-pole td{vertical-align:top}
#sa-zayav-pole .id{text-align:right;color:#777}
#sa-zayav-pole .name{width:180px;font-weight:bold}
#sa-zayav-pole .about{font-size:10px;color:#888;white-space:pre-line}
#sa-zayav-pole .param{font-size:10px;color:red;margin-top:5px;font-weight:bold}
#sa-zayav-pole .use{text-align:center;width:40px}
#sa-zayav-pole .ed{padding-top:4px}

#sa-zayav-service{margin:10px 10px 50px}
#sa-zayav-service .headName{margin:0 0 10px}
#sa-zayav-service .edit{margin-right:10px;color:red}
#sa-zayav-service .zs-head{font:22px Verdana;margin:10px 0}
#sa-zayav-service .vk{
	margin-left:15px;
	position:relative;
	top:5px;
}
#sa-zayav-service ._spisok{margin-bottom:1px}
#sa-zayav-service ._sort{margin-bottom:30px}
#sa-zayav-service .show{background:#ffc}
#sa-zayav-service .pole{width:45px}
#sa-zayav-service td.pole{text-align:right;color:#777;vertical-align:top}
#sa-zayav-service .head{width:250px}
#sa-zayav-service td.head{cursor:move}
#sa-zayav-service .name{font-weight:bold}
#sa-zayav-service .label{font-weight:bold;color:#999;margin-bottom:3px}
#sa-zayav-service .about{font-size:10px;color:#888;white-space:pre-line}
#sa-zayav-service .param{
	display:inline-block;
	padding:3px 8px;
	font-size:10px;
	color:#999;
	background:#eee;
	margin-top:5px;
	font-weight:bold;
}
#sa-zayav-service .param.on{color:#3b3;background:#dfd}
#sa-zayav-service .ed{width:35px}






/* Единицы измерения товаров */
#sa-measure .ed{width:35px}







/* цвета */
#sa-color #spisok{margin:10px 20px}
#sa-color .zayav{text-align:center}
#sa-color .zp{text-align:center}
#sa-color-add{border-spacing:8px}
#sa-color-add input{width:200px}







/* шаблоны документов */
#sa-template #spisok-def{margin:10px 20px 60px}
#sa-template #spisok-var{margin:10px 20px 40px}







/* пользователи */
#sa-user .un{padding-bottom:8px;margin:8px;border-bottom:#dae1e8 solid 1px}
#sa-user .tab{width:100%}
#sa-user .img{width:57px;vertical-align:top}
#sa-user .inf{vertical-align:top}
#sa-user .dtime{float:right}
#sa-user .dtime div{font-size:10px;cursor:default;text-align:right}
#sa-user .enter{color:#2a5}
#sa-user .added{color:#aaa}
#sa-user .ws_id{
	display:inline-block;
	padding:2px 5px;
	background-color:#282;
	color:#fff;
	margin-left:20px;
}
#sa-user .adm{
	display:inline-block;
	padding:2px 5px;
	background-color:#b22;
	color:#fff;
	margin-left:5px;
}
#sa-user .action{display:block;margin-top:4px;width:50px}
#sa-user .un:not(:hover) .action:not(._busy){display:none}
#sa-user .action._busy{text-decoration:none}
#sa-user .action-res{border-collapse:collapse;margin-top:5px}
#sa-user .action-res td{border:#ddd solid 1px;padding:1px 4px}
#sa-user .action-res .c{text-align:right}



/* счётчики */
#sa-count{margin:10px}
#sa-count .headName{margin:15px 0}





/* приложения */
#sa-app{min-height:300px}
#sa-app #spisok{margin:10px 20px}
#sa-app .id{width:50px;text-align:right}
#sa-app .name{width:180px}


